<div class="seed-info">
    <p>Seed ID: <span class="seed-detail">{{seedModel.SeedInfo.SeedID}}</span></p>
    <p *ngIf="seedModel.SeedInfo.SeedHashItems">Seed Hash Items: <span class="seed-detail">{{seedModel.SeedInfo.SeedHashItems.join(", ")}}</span></p>
    <p>Creation Date: <span class="seed-detail">{{seedModel.SeedInfo.CreationDate | date}}</span></p>
    <p>Expiration Date: <span class="seed-detail">{{expirationDate | date}}</span> <span style="color: red;">*</span></p>
    <div *ngIf="seedModel.SeedInfo.SettingsString" class="input-label">
        <p class="settings-label">Settings string
             <mat-icon class="material-icons-outlined"
                       [cdkCopyToClipboard]="seedModel.SeedInfo.SettingsString"
                       [matTooltip]="'Copy to clipboard'"
                       [matTooltipPosition]="'right'"
                       (click)="copiedToClipboard = true"
                       (mouseenter)="copiedToClipboard = false">
            content_copy
            </mat-icon>
            <span class="copied-message" *ngIf="copiedToClipboard">✔️ Copied to clipboard!</span>
        </p>
        <textarea rows="4"matInput [disabled]="true" [(ngModel)]="seedModel.SeedInfo.SettingsString"> </textarea>
    </div>
    <span class="expiration-warning">*Generated seeds are stored for a period of 30 days and are automatically deleted after.
         Please make sure to download and keep your patch / spoiler log before then if you plan on needing them later.</span>

</div>
<div class="right-container">
    <div class="setting-element dropdown-element">
        <span class="settings-label">Setting Category:</span>
        <select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateDisplayedRows()">
            <option *ngFor="let category of settingCategories" [ngValue]="category">{{category.name}}</option>
        </select>
    </div>


    <div class="table-container fancy-scrollbar">
        <mat-divider></mat-divider>
        <mat-table [dataSource]="displayedRows">
            <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef stic>Name</th>
                <td mat-cell *matCellDef="let setting">{{setting.name}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let setting">{{getSettingValueText(setting.value)}}</td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
        </mat-table>
    </div>
</div>


