@use './../../../../../variables';
:host {
    display: flex;
    flex-wrap: wrap;
    div.seed-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-grow: 2;
        flex-basis: 45%;
        
        p {
            font-family: gluten;
            font-weight: 500;
            span.seed-detail {
                font-size: 18px;
                font-style: italic;
                color: variables.$yellow-stat-text;        
            }

            span.copied-message {
                font-size: 14px;
                color: variables.$blue-item-main;        
            }
        }
        span.expiration-warning{
            color: red;
            font-family: gluten;
            font-size: 14px;
            font-weight: 600;
            overflow-wrap: break-word;
            align-self: flex-end;
            margin-top: auto;
            margin-right: 20%;
            line-height: 18px;

        }

        div.input-label {
    
            textarea {
                width: 80%;
                resize: none;
                color: black;
            }

            .mat-icon {
                position: relative;
                top: 6px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    div.right-container {
        flex-basis: 55%;
        flex-grow: 2;
        div.table-container {
            max-height: 30rem;
            overflow: auto;
            float:right;
            width: 100%;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
              }
            &::-webkit-scrollbar-track {
                background-color: variables.$purple-background-secondary;
                border-radius: 10px;
              }
            &::-webkit-scrollbar-thumb {
                background-color: variables.$yellow-stat-border;
                border-radius: 10px;
              }
            
            mat-table {
                font-family: gluten;
                background-color: inherit;
                
                .mat-cell {
                    white-space: pre-line;
                    overflow-wrap: break-word;
                    width: 25%;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 16px;
                }
                .mat-header-cell {
                    font-size: 13px;
                    font-weight: 600;
                }
                .mat-header-cell:last-of-type {
                    padding-left: 10%;
                }
    
                td.mat-cell:last-of-type{
                    padding-left: 10%;
                }
            }
        }
    }
    
    
}