@import './../../../../../variables';
@import './../../../../../mixins';

:host {
    display: flex;
    flex-wrap: wrap;
    div.seed-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include medium {
            flex-basis: 45%;
        }

        p {
            font-family: gluten;
            font-weight: 500;
            span.seed-detail {
                font-size: 18px;
                color: $yellow-stat-text;
            }

            span.copied-message {
                font-size: 14px;
                color: $blue-item-main;
            }
        }
        span.expiration-warning{
            color: red;
            font-family: gluten;
            font-size: 14px;
            font-weight: 600;
            overflow-wrap: break-word;
            align-self: flex-end;
            margin-top: auto;
            margin-right: 20%;
            line-height: 18px;

        }

        div.input-label {

            textarea {
                width: 80%;
                resize: none;
                color: black;
            }

            .mat-icon {
                position: relative;
                top: 6px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    div.right-container {

        @include medium {
            flex-basis: 55%;
        }

        .dropdown-element {
            margin: 2rem;
            .settings-label {
                font-family: gluten;
                margin: 0px 4px;
                font-size: 16px;
                font-weight: 500;
                display: inline-block;
             }
        }

        .mat-divider {
            margin: 0 !important;
            width: 100% !important;
        }
        div.table-container {
            height: 35rem;
            overflow: auto;
            float:right;
            width: 100%;

            mat-table {
                font-family: gluten;
                background-color: inherit;

                .mat-cell {
                    white-space: pre-line;
                    overflow-wrap: break-word;
                    width: 25%;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 12px;
                    vertical-align: middle;
                }
                .mat-header-cell {
                    font-size: 13px;
                    font-weight: 600;
                }
                .mat-header-cell:last-of-type {
                    padding-left: 10%;
                }

                td.mat-cell:last-of-type{
                    padding-left: 10%;
                }
            }
        }
    }


}
