:host {
    display: flex;
    div.seed-info {
        display: flex;
        flex-direction: column;
        width: 40%;
        p {
            font-family: popjoy
        }
        span.expiration-warning{
            color: red;
            font-family: popjoy;
            font-size: 12px;
            overflow-wrap: break-word;
            align-self: flex-end;
            margin-top: auto;
            margin-right: 20%;

        }
    }
    div.right-container {
        width: 60%;
        div.table-container {
            max-height: 30rem;
            overflow: auto;
            float:right;
            
            mat-table {
                font-family: popjoy;
                background-color: inherit;
        
                .mat-cell {
                    overflow-wrap: break-word;
                    width: 25rem;
                }
                .mat-header-cell:last-of-type {
                    padding-left: 10rem;
                }
    
                td.mat-cell:last-of-type{
                    padding-left: 10rem;
                }
            }
        }
    }
    
    
}