h2 {
    font-family: gluten;
}

input.mat-chip-input {
    width: 15rem;
}

.mat-standard-chip {
    background-color: #2141d5;
    color: white;
    font-family: 'gluten';
    font-size: 16px;
}

.mat-chip-remove {
    color: white !important;
    opacity: 1 !important;
}