
<div class="main-page">
    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Github</mat-card-title>
        <ul>
          <li>Seed Generator: <a href ="https://github.com/icebound777/PMR-SeedGenerator" target="_blank" rel="noopener noreferrer">https://github.com/icebound777/PMR-SeedGenerator</a></li>
          <li>Website (front-end): <a href="https://github.com/Pronyo-Chan/paper-mario-randomizer-web-app" target="_blank" rel="noopener noreferrer">https://github.com/Pronyo-Chan/paper-mario-randomizer-web-app</a></li>
          <li>Website (server): <a href ="https://github.com/Pronyo-Chan/pm64openworldrandomizer_website" target="_blank" rel="noopener noreferrer">https://github.com/Pronyo-Chan/pm64openworldrandomizer_website</a></li>
          <li>Star Rod Mod: This repository has the starrod code and assets for the game mod. It is currently private, but the seed generator has the patch file that results from it.</li>
        </ul>
    </mat-card>
</div>
