@use './../../../../variables';
:host {
    
    img.logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.button-container {

        button.submit {
            span {
                
                font-family: popjoy ;
                color: white ;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                font-size: 25px;
        
            }
            cursor: pointer;
            padding: 0.1rem 2rem;
            margin-left: 6rem;
            background-color: variables.$yellow-stat-main;     
            border-radius: 15px;        
            border: double;
            border-width: 6px;
            border-color: variables.$yellow-stat-border;   
        }
        button:disabled {
            cursor: not-allowed;
        }

        img.animated-coin{
            position: relative;
            top: 5px;
            width: 40px;
            height: auto;
        }
        
        span.loading-text {
            font-family: popjoy;            
        }
    
        span.server-error {
            font-family: popjoy;
            color: red;   
            text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;         
        }
     }

    
     
}