:host {
    
    .mario-title {
        font-family: SuperMario; 
        font-size: 4rem;
        color: #db260b;
        text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;
        text-align: center;
        margin: 2rem;

     }

     .settings-card {
         margin: 2rem 4rem 2rem 4rem;
         background-color: #E2E1D8;

         .settings-title {
            background-color: #B48B31;
            font-family: SuperMario;
            font-size: 2rem;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
            padding-left: 1rem;
            color: rgb(255, 255, 255);
            padding: 1rem;
            border: outset;
            border-color: #F0C74E;
            border-width: 3px;
            border-radius: 4px;
         }

         ::ng-deep .settings-card-content {
             margin: 1rem;
             display: flex;
             flex-wrap: wrap;

             .settings-label {
                font-family: popjoy;
                margin-left: 4px;
             }

             .setting-element {
                 width: 50%;
                 margin-bottom: 8px;

                 
             }

             .full-width-element {
                width: 100%;
             }
         }
         
     }

     button {
        background-color: #B48B31;
        margin: 1rem;
        font-family: popjoy !important;
        color: white !important;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
      }
}