@use './../../../../variables';
:host {
    .main-page {
        padding-bottom: 4rem;
    }
    
    .mario-title {
        font-family: SuperMario; 
        font-size: 4rem;
        color: variables.$red-mario;
        text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;
        text-align: center;
        margin: 2rem;

     }

     .settings-card {
         margin: 2rem 4rem 2rem 4rem;
         background-color: variables.$beige-background-card;

         &.partners-tab-error{
             background-color: variables.$red-background-error;
            ::ng-deep .mat-tab-group {
                .mat-tab-header {
                   .mat-tab-label-container {
                       .mat-tab-list {
                           .mat-tab-labels {
                               #mat-tab-label-0-1 {
                                   -webkit-box-shadow:0 0 20px red; 
                                   -moz-box-shadow: 0 0 20px red; 
                                   box-shadow:0 0 6px  3px red;
                                   transition: box-shadow 0.1s ease-in-out;
                               }
                           }
                       }
                   }
               }
            }
         }

         .settings-title {
            background-color: variables.$yellow-stat-main;
            font-family: SuperMario;
            font-size: 2rem;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
            padding-left: 1rem;
            color: rgb(255, 255, 255);
            padding: 1rem;
            border: outset;
            border-color: variables.$yellow-stat-border;
            border-width: 3px;
            border-radius: 4px;
            margin-bottom: 2px;
         }

         ::ng-deep .settings-card-content {
             margin: 1rem;
             display: flex;
             flex-wrap: wrap;

             .settings-label {
                font-family: popjoy;
                margin-left: 4px;
             }

             .setting-element {
                 width: 50%;
                 margin-bottom: 8px;                
             }

             .full-width-element {
                width: 100%;
             }
         }        
     }

     div.button-container {

        button.submit {
            span {
                
                font-family: popjoy ;
                color: white ;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                font-size: 25px;
        
            }
            cursor: pointer;
            padding: 0.1rem 2rem;
            margin-left: 4rem;
            background-color: variables.$yellow-stat-main;     
            border-radius: 30px;        
            border: outset;
            border-width: 2px;
            border-color: variables.$yellow-stat-border;   
        }
        button:disabled {
            cursor: not-allowed;
        }
     }

     ul {
        list-style-type: none;
        li {
            color: red;
            font-family: 'popjoy';
            text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;      
        }
        li:before {
            content: "❌" !important; 
            font-size: 12px !important;
        }
        li:marker {
            display: none;
        }
    }
     
}