<form [formGroup]="itemFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element">
            <mat-slide-toggle formControlName='shuffleItems'></mat-slide-toggle>
            <app-tooltip-span spanText="Shuffle Items" tooltipText="Shuffle overworld items (free-standing, given by NPC, found in blocks, bushes and trees etc). Does not include rewards from letter deliveries, Koot's favors and Quizmo's quiz."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='includeCoins'></mat-slide-toggle>
            <app-tooltip-span spanText="Coinsanity" tooltipText="Overworld coins and single coin blocks are included in the item pool (does not include coins from bushes and trees)"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='includeShops'></mat-slide-toggle>
            <app-tooltip-span spanText="Shopsanity" 
                                tooltipText="Shop Items are included in the item pool.
                                            
                                            Includes regular item shops, Rowf's badge shop and Merlow's star piece trade">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='includePanels'></mat-slide-toggle>
            <app-tooltip-span spanText="Include Hidden Panels" tooltipText="Star Pieces hidden under hidden panels are included in the item pool"></app-tooltip-span>
        </div>
        <!-- <div class="setting-element">
            <mat-slide-toggle formControlName='includeFavors'></mat-slide-toggle>
            <app-tooltip-span spanText="Include Koopa Koot Favors" tooltipText="Rewards given for completing Koopa Koot's quests are included in the item pool"></app-tooltip-span>
        </div> -->
        <div class="setting-element">
            <mat-slide-toggle formControlName='keyitemsOutsideDungeon'></mat-slide-toggle>
            <app-tooltip-span spanText="Keysanity" 
                                tooltipText="Off: Dungeon keys can only be found in their respective dungeon
                                 
                                On: Dungeon keys can be found anywhere" >
            </app-tooltip-span>
        </div>   
        <div class="setting-element">
            <mat-slide-toggle formControlName='includeDojo'></mat-slide-toggle>
            <app-tooltip-span spanText="Include Dojo Rewards" tooltipText="Include Dojo fight rewards in the item pool. The logic can only expect you to do the 2nd fight with 2 star spirits saved, 3rd fight with 3 star spirits saved, and so on."></app-tooltip-span>
        </div> 
    </mat-card-content>
</form>