$yellow-stat-main: #B48B31;
$yellow-stat-border: #F0C74E;

$blue-item-main: #2141d5;     
$blue-item-border: #172F9F;
$blue-background-main: #C6CFDE;
$blue-background-secondary: #D6DFEC;

$turquoise-partner-main: #14A98E;
$turquoise-partner-border: #22EEC9;

$orange-badge-main: #AB4B2E;
$orange-badge-border: #FD744A;

$purple-misc-main: #794E89;
$purple-misc-border: #AD72C2; 
$purple-background-main: #CDB4D1;
$purple-background-secondary: #D8CADB;

$green-spirit-main: #47B836;        
$green-spirit-border: #68FF51;        

$red-mario: #db260b;
$red-file-main: #A75959;
$red-file-border: #D78C96;
$red-background-error: #FBCFD5;

$beige-background-main: #D2C090;
$beige-background-secondary: #E2D8B3;
$beige-background-card: #E2E1D8;
