@use './variables';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


@font-face {
    font-family: popjoy;
    src: url(assets/Fonts/PopJoy.otf) format("opentype");
  }

@font-face {
    font-family: SuperMario;
    src: url(assets/Fonts/SuperMario.ttf) format("opentype");
  }

.mat-tab-label {
  opacity: 1 !important;        
  min-width: 165px !important;
  border: outset;
  border-width: 2px;
  border-radius: 30px;
  margin: 8px 0 8px 4px;
  filter: brightness(.5);
  &.mat-tab-label-active {      
    filter: brightness(1);
  }  
}

#mat-tab-label-0-0 {
  background-color: variables.$blue-item-main !important;        
  border-color: variables.$blue-item-border !important;
}

#mat-tab-label-0-1 {
  background-color: variables.$turquoise-partner-main !important;
  border-color: variables.$turquoise-partner-border !important;
}

#mat-tab-label-0-2 {
  background-color: variables.$orange-badge-main!important;
  border-color: variables.$orange-badge-border !important;
}

#mat-tab-label-0-3 {
  background-color: variables.$purple-misc-main !important;
  border-color: variables.$purple-misc-border !important; 
}

.mat-tab-label-content {
  font-family: popjoy;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.mat-ink-bar {
  display: none;
}

.mat-divider-horizontal {
  position: relative !important;
  margin: 12px !important;
  width: 90% !important;
}

.mat-tooltip  {
  white-space: pre-line;
  max-width: 350px !important;
  font-size: 12px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: variables.$yellow-stat-border;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: variables.$yellow-stat-main;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: variables.$yellow-stat-main;
}

input.mat-input-element {
  border: inset;
  border-radius: 4px;
  border-color: variables.$yellow-stat-border;
  border-width: 3px;

  &.error {
    border-color: red;
  }


}

input.mat-input-element:focus {
  outline: none !important;
}

.mat-tab-body-content {
  overflow: hidden !important; /* Hide scrollbars */
}

select {
  border: inset;
  border-radius: 4px;
  border-color: variables.$yellow-stat-border;
  border-width: 3px;
  font-family: 'popjoy';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
