<form [formGroup]="formGroup">
    <div class="main-page">
        <div class="logo-wrapper">
            <a [href]="homepageLink">
                <img class="logo" src="assets/images/logo.png">
            </a>
        </div>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Preset Settings</mat-card-title>
            <app-preset-settings [formGroup]="formGroup"></app-preset-settings>
        </mat-card>
        <mat-card class="settings-card" [ngClass]="{ 'partners-tab-error': formGroup.get('partners').invalid}">
            <mat-card-title class="settings-title">Randomizer Settings</mat-card-title>
            <mat-tab-group animationDuration="1000ms">
                <mat-tab label="Items" class="items-tab">
                <app-items [itemFormGroup]="formGroup.get('items')"></app-items>
                </mat-tab>
                <mat-tab label="Partners">
                    <app-partners [partnersFormGroup]="formGroup.get('partners')"></app-partners>
                </mat-tab>
                <mat-tab label="Badges/Moves">
                    <app-badges-and-moves [badgesAndMovesFormGroup]="formGroup.get('badgesAndMoves')"></app-badges-and-moves>
                </mat-tab>
                <mat-tab label="Misc">
                    <app-misc [miscFormGroup]="formGroup.get('misc')"></app-misc>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Open World Settings</mat-card-title>
            <app-open-world-settings [openLocationsFormGroup]="formGroup.get('openLocations')"></app-open-world-settings>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Difficulty Settings</mat-card-title>
            <app-difficulty-settings [difficultyFormGroup]="formGroup.get('difficulty')"></app-difficulty-settings>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Quality of Life Settings</mat-card-title>
            <app-qol-settings [qualityOfLifeFormGroup]="formGroup.get('qualityOfLife')"></app-qol-settings>
        </mat-card>        
        <div class="button-container">

            <button [disabled]="formGroup.invalid || isRandomizing" class="submit" (click)="onSubmit()">
                <span [matTooltip]="formGroup.invalid ? 'Please fix the errors on the page to submit' : ''" matTooltipPosition="right">Generate Seed</span>
            </button>
            <ng-container *ngIf="isRandomizing;">
                <img class="animated-coin" src="./../../../../../assets/images/coin_loading.gif">
                <span class="loading-text">Preparing Custom Seed...</span>
            </ng-container>
            <ng-container *ngIf="patchingError">
                <span>❌</span>
                <span class="server-error"> {{patchingError}}</span>
            </ng-container>
        </div>
    </div>
</form>
 