<form [formGroup]="formGroup">
    <div class="main-page">
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Presets</mat-card-title>
            <app-preset-settings [formGroup]="formGroup"></app-preset-settings>
        </mat-card>
        <mat-card class="settings-card" [ngClass]="{ 'partners-tab-error': formGroup.get('partners').invalid}">
            <mat-card-title class="settings-title">Randomizer Settings</mat-card-title>
            <mat-tab-group animationDuration="0" scrollToCenter>
                <mat-tab label="Items">
                <app-items [itemFormGroup]="formGroup.get('items')" [plandoAssignedControls]="plandoAssignedControls"></app-items>
                </mat-tab>
                <mat-tab label="Partners">
                    <app-partners [partnersFormGroup]="formGroup.get('partners')"></app-partners>
                </mat-tab>
                <mat-tab label="Gameplay">
                    <app-gameplay [gameplayFormGroup]="formGroup.get('gameplay')"></app-gameplay>
                </mat-tab>
                <mat-tab label="Cosmetics">
                    <app-cosmetics [cosmeticsFormGroup]="formGroup.get('cosmetics')" [doLoadLatestSettings]="false"></app-cosmetics>
                </mat-tab>
                <mat-tab label="Glitches & Tricks">
                    <app-glitches-and-tricks [formGroup]="formGroup"></app-glitches-and-tricks>
                </mat-tab>
                <mat-tab label="Plandomizers">
                    <app-plandomizers [plandomizerFormControl]="plandomizerFormControl" [plandoAssignedControls]="plandoAssignedControls"></app-plandomizers>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
        <mat-card class="settings-card" [ngClass]="{ 'starting-items-tab-error': formGroup.get('marioStats').invalid}">
            <mat-card-title class="settings-title">Difficulty Settings</mat-card-title>
            <mat-tab-group animationDuration="0" scrollToCenter>
                <mat-tab label="General">
                <app-difficulty-settings [difficultyFormGroup]="formGroup.get('difficulty')"></app-difficulty-settings>
                </mat-tab>
                <mat-tab label="Goals">
                  <app-goal-settings [goalsFormGroup]="formGroup.get('goals')" [plandoAssignedControls]="plandoAssignedControls"></app-goal-settings>
                </mat-tab>
                <mat-tab label="Stats & Gear">
                    <app-mario-settings [marioStatsFormGroup]="formGroup.get('marioStats')"></app-mario-settings>
                </mat-tab>
                <mat-tab label="Starting Items">
                    <app-starting-items [marioStatsFormGroup]="formGroup.get('marioStats')"></app-starting-items>
                </mat-tab>
                <mat-tab label="Item Pool">
                  <app-item-pool-settings [itemPoolFormGroup]="formGroup.get('itemPool')" [plandoAssignedControls]="plandoAssignedControls"></app-item-pool-settings>
              </mat-tab>
            </mat-tab-group>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">World Settings</mat-card-title>
            <app-world-settings [worldFormGroup]="formGroup.get('openLocations')"></app-world-settings>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Quality of Life Settings</mat-card-title>
            <app-qol-settings [qualityOfLifeFormGroup]="formGroup.get('qualityOfLife')" [hasEnabledTricks]="formGroup.get('glitches').value.length > 0"></app-qol-settings>
        </mat-card>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Spoiler Settings</mat-card-title>
            <app-spoiler-settings [formGroup]="formGroup"></app-spoiler-settings>
        </mat-card>
        <mat-card class="settings-card">
          <mat-card-title class="settings-title">Seed Generation</mat-card-title>
          <app-generation-settings [formGroup]="formGroup" [isRandomizing]="isRandomizing" [seedGenError]="seedGenError" [seedGenErrorDetails]="seedGenErrorDetails" (onSubmitEmit)="onSubmit()"></app-generation-settings>
        </mat-card>
    </div>
</form>
