@use './../../../../../variables';
:host {
    ul {
        list-style-type: none;
        li {
            color: red;
            font-family: 'popjoy';
        }
        li:before {
            content: "❌" !important; 
            font-size: 12px !important;
        }
        li:marker {
            display: none;
        }
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        
    }

    label {
        font-size: 16px;
        width: 10%;
        margin: 0 0 1rem 4rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-table;
        overflow: hidden;
        padding: 0.5rem 1rem;
        background-color: variables.$red-file-main;        
        color: white;
        border-radius: 30px;        
        border: outset;
        border-width: 2px;
        border-color: variables.$red-file-border;

        svg {
            fill: currentColor;
            padding-right: 8px;
        }

        span {
            pointer-events: none;
            font-family: popjoy;            
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        }
    }

    button {
        span {
            
            font-family: popjoy ;
            color: white ;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

        }
        margin: 0 0 0 4rem;
        font-size: 16px;
        width: 7%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.5rem 1rem;
        background-color: variables.$green-spirit-main;        
        border-radius: 30px;        
        border: outset;
        border-width: 2px;
        border-color: variables.$green-spirit-border;

        
    }

    button:disabled {
        cursor: not-allowed;
        opacity: 30%;
    }
}