
<div class="main-page">
    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Randomizer Settings Details</mat-card-title>
        <h2>Shuffle Items</h2>
        <ul>
            <li>Includes freestanding items on the overworld.</li>
            <li>Include items, badges and key items located in ? blocks.</li>
            <li>Includes items found in trees and bushes.</li>
            <li>Includes rewards handed over / traded by NPCs.</li>
        </ul>

        <h2>Shopsanity</h2>
        <ul>
            <li>Items sold by regular shops can be bought infinitely if they are consumables. Badges and key items can only be bought once. Rowf's items all count as unique.</li>
            <li>Rowf's badge shop now sells random items, and he upgrades his inventory after each star spirit saved. He starts out with 4 available items, and adds 3 new ones for every star spirit saved until 4 total spirits are saved.</li>
            <li>Merlow's badge shop has random items for sale. These will never be items required for progression.</li>
            <li>Merlow's reward program (custom made for the randomizer) can however hold progression items.</li>
        </ul>

        <h2>Coinsanity</h2>
        <ul>
            <li>Includes all freestanding coins on the overworld.</li>
            <li>Includes all coins located in ?-blocks.</li>
            <li>Coins in bushes and trees are not included.</li>
            <li>Koopa Koot coin rewards are shuffled when this setting is combined with shuffling Koopa Koot rewards.</li>
        </ul>

        <h2>Include Hidden Panels</h2>
        <ul>
            <li>The Ultra Hammer or Super Boots are required to flip panels.</li>
            <li>Logic doesn't consider it required to have the I Spy badge to detect panels, so it is highly recommended to use the Always I Spy setting if the player is not familiar with the locations.</li>
        </ul>

        <h2>Keysanity</h2>
        <ul>
            <li>Items affected by this setting: Fortress Key, Ruins Key, Pyramid Stone, Lunar Stone, Diamond Stone, Castle Key (Tubba's Castle), Toy Train, Dictionary, Mystery Note, Magical Bean, Fertile Soil, Miracle Water, Bubble Berry, Red Berry, Blue Berry, Yellow Berry, Crystal Berry, Water Stone, Blue Key, Red Key, Palace Key, Castle Key (Bowser's Castle).</li>
        </ul>

        <h2>Koopa Koot Favors</h2>
        <ul>
            <li>Koot will have new favors after every completed chapter. The order of the favors follows the original game, no matter the order chapters are completed.</li>
            <li>Coin rewards are only shuffled if "Shuffle Favor Coins" is also active.</li>
            <li>Quest items obtained or handed out as part of Koot's favors cannot be done before the related favor is started.</li>
        </ul>

        <h2>Gear Shuffle</h2>
        <ul>
            <li>If Mario has an insufficient hammer after opening the chest in the ruins or volcano, the block obstacle will automatically break.</li>
            <li>If Mario has insufficient boots after opening the chest in the mansion, the boarded floor will automatically break and it will be possible to hit the big blue switch with a regular jump.</li>
            <li>Vanilla Mode: Hammer blocks in dungeons are progressive. The blocks will always be a tier above your hammer as you enter the dungeon, so you can break them by getting the dungeon hammer.</li>
            <li>Gear Location Shuffle Mode: To allow a wider variety of playthroughs, this option removes the stone and metal blocks that usually prevent access to the Ultra Boots room in the sewers.</li>
        </ul>

        <h2>Color options</h2>
        <ul>
            <li>Random Pick means the color is determined during seed generation and will stay consistent throughout gameplay.</li>
            <li>Random On Every Load means the color will be picked at random ingame, and might change frequently.</li>
            <li>Random Pick includes the default color palette, so it is possible to see no change if said default is randomly picked.</li>
            <li>Random Pick (No Vanilla) does not include the default color palette and picks a random color among the rest.</li>
            <li>Color options for more partners will be added in the future.</li>
        </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Difficulty Settings Details</mat-card-title>
        <h2>Enemy Difficulty</h2>
        <ul>
            <li>Progressive Scaling gets harder according to the number of progression key items and partners Mario acquires.</li>
            <li>Partners give 3x more progress score than key items.</li>
            <li>If the number of chapters beaten is greater than the current difficulty level determined by the progress score, then the amount of chapters completed dictates the difficulty instead.
                 For example, if Mario has saved 3 star spirits, but he has a low progress score which would only compute as chapter 3 difficulty, chapter 4 difficulty is used.</li>
            <li>When playing with "Shuffle Chapter Difficulties" and starting from a location other than Toad Town, the maximum difficulty for the starting chapter will be 3.</li>
            <li>The following battles are unaffected by this setting and will have vanilla stats: All enemies/bosses in Toad Town Tunnels, all enemies/bosses in chapter 8, Dojo Fights (Toad Town), Kent C. Koopa (Pleasant Path), Anti Guy (Toy Box).</li>
        </ul>
        
        <h2>Item Traps</h2>
        <ul>
            <li>Item traps cannot be in shops. Anywhere else is fair play.</li>
            <li>The Ultra Stone is more likely to appear as a trap.</li>
        </ul>

        <h2>Star Spirits Required</h2>
        <ul>
            <li>Determines how many star spirits are required to complete the game.</li>
            <li>The current number of star spirits left to save can be observed at Shooting Star Summit, by counting the unlit stars on the ground at the top.</li>
        </ul>

        <h2>Hammerless Start</h2>
        <ul>
            <li>When playing with Hammerless start, the bush in Jr. Troopa's playground is considered a big chest and contains an upgrade as well.</li>
            <li>Bombette can be used to bomb most trees, ground blocks, the whale and the frozen pond in Shiver City.</li>
        </ul>
        
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">World Settings Details</mat-card-title>
        <h2>Bowser's Castle Mode: Shortened</h2>
        <ul>
            <li> With this setting, the front door is already unlocked.</li>
            <li> The loading zones in Bowser's Castle are re-routed to noticably shorten Mario's stay there.</li>
            <li> The second Bowser door takes the place of the first Bowser door. This removes access to the basement entirely.</li>
            <li> The water puzzle rooms are removed, sending Mario straight to the Bill Blaster room.</li>
            <li> Most hidden rooms around the second Bowser Door room are removed, sending Mario outside to the Ramparts straight away.</li>
            <li> The Up/Down puzzle room and surrounding rooms are removed, sending Mario to the bridge before Fake Peach Hallway instead.</li>
            <li> Overall, this reduces the size of Bowser's Castle by about 50%.</li>
        </ul>

        <h2>Bowser's Castle Mode: Boss Rush</h2>
        <ul>
            <li> With this setting, riding the star ship will lead directly to the Duplighost hallway, effectively skipping almost the entire castle.</li>
            <li> From there onwards, the end of the game plays as usual and Mario needs to defeat the Duplighosts, Jr. Troopa, Hallway Bowser and Final Bowser</li>
        </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Quality of Life Settings Details</mat-card-title>
        <h2>Skip Quiz</h2>
        <ul>
            <li>Quizmo will instantly give a Star Piece when talked to, without actually asking a question.</li>
        </ul>

        <h2>Shorten Cutscenes</h2>
        <ul>
            <li> Shaves time of cutscenes by removing some dialogues and character reactions, accelerating npc and camera movement.</li>
            <li> Entirely skips the Kammy fight during the final boss.</li>
            <li> Some cutscenes can be skipped entirely by pressing 'A': Tubba breaking the bridge during the escape, placing the water stone, growing the beanstalk, riding the beanstalk, placing the star stone.</li>
        </ul>
    </mat-card>
</div>