<div class="logo-wrapper">
    <a [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>
</div>
<div class="main-page">
    <mat-card class="settings-card">
        <mat-card-title class="settings-title">General Tips</mat-card-title>
        <ul>
            <li>Tip 1</li>
            <li>Tip tpefdsofkodsfdsfk</li>
        </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Easily Missable Locations</mat-card-title>
        <ul>
            <li>Tip 1</li>
            <li>Tip tpefdsofkodsfdsfk</li>
        </ul>
    </mat-card>
</div>