<form [formGroup]="difficultyFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element">
            <input matInput type="number" min="0" max="999" formControlName='initialCoins'>
            <app-tooltip-span spanText="Initial Coins" tooltipText="Amount of coins Mario will start the game with"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <select formControlName='damageMultiplier'>
                <option [value]="'1'">1x</option>
                <option [value]="'2'">2x</option>
                <option [value]="'4'">4x</option>
            </select>
            <app-tooltip-span spanText="Enemy Damage Multiplier" tooltipText="Increases the damage done by enemy attacks"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='capEnemyXP'></mat-slide-toggle>            
            <app-tooltip-span spanText="Cap Enemy XP" tooltipText="Limits the amount of XP obtainble per defeated enemy to 5 XP"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noXP'></mat-slide-toggle>
            <app-tooltip-span spanText="No XP" tooltipText="Mario gains no XP from fights if turned on"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='oneHitKO'></mat-slide-toggle>
            <app-tooltip-span spanText="One Hit KO" tooltipText="Mario will die instantly from an enemy attack if a block action command is failed"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noSaveBlocks'></mat-slide-toggle>
            <app-tooltip-span spanText="No Save Blocks" tooltipText="Save blocks will be removed from the game if turned on.
            
            It is still possible to save after every chapter with the 'Save and Continue' menu "></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noHeartBlock'></mat-slide-toggle>
            <app-tooltip-span spanText="No Heart Blocks" tooltipText="Heart blocks will be removed from the game if turned on"></app-tooltip-span>
        </div>
        
    </mat-card-content>
    <ul *ngIf="difficultyFormGroup.invalid">
        <mat-divider></mat-divider>
        <li *ngIf="difficultyFormGroup.get('initialCoins').errors">
            Initial Coins must be a value between 0 and 999
        </li>

    </ul>
</form>