:host {
    ul {
        list-style-type: none;
        li {
            color: red;
            font-family: 'popjoy';
            text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;      
        }
        li:before {
            content: "❌" !important; 
            font-size: 12px !important;
        }
        li:marker {
            display: none;
        }
    }
}