<form [formGroup]="qualityOfLifeFormGroup">
    <mat-card-content class=settings-card-content>

        <div class="setting-element">
            <select formControlName='hiddenBlockMode'>
                <option [ngValue]="0">Watt's ability</option>
                <option [ngValue]="1">Watt Out</option>
                <option [ngValue]="2">Watt Obtained</option>
                <option [ngValue]="3">Always Visible</option>
            </select>
            <app-tooltip-span
                 spanText="Hidden Block Mode"
                  tooltipText="Watt's ability: Mario needs to use Watt's ability to see hidden blocks (Vanilla)
                  
                                Watt Out: Mario needs to have Watt as active partner to see hidden blocks
                                
                                Watt Obtained: Hidden blocks will always be visible after watt is unlocked
                                
                                Always Visible: Hidden blocks will be visible from the start">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysSpeedySpin'></mat-slide-toggle>
            <app-tooltip-span spanText="Always Speedy Spin" tooltipText="Mario will always spin fast when pressing Z without needing to equip the Speedy Spin badge.
            
            The Speedy Spin badge is also removed from the item pool">
        </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='preventPhysicsGlitches'></mat-slide-toggle>
            <app-tooltip-span spanText="Prevent Physics Glitches" tooltipText="Patches out of bound exploits present in the original game"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysPeekaboo'></mat-slide-toggle>
            <app-tooltip-span spanText="Always Peekaboo" tooltipText="Enemy HP will always be displayed without needing to equip the Peekaboo badge.
            
            The Peekaboo badge is also removed from the item pool">
        </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='skipQuiz'></mat-slide-toggle>
            <app-tooltip-span spanText="Skip Quiz" tooltipText="Quiz rewards will be handed out without having to answer questions"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysISpy'></mat-slide-toggle>
            <app-tooltip-span spanText="Always ISpy" tooltipText="Hidden Panels will always be indicated to be in the present room without needing to equip the ISpy badge.
            
            The ISpy badge is also removed from the item pool"></app-tooltip-span>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='shortenBowsersCastle'></mat-slide-toggle>
            <app-tooltip-span spanText="Shorten Bowser's Castle" tooltipText="Multiple sections of Bowser's Castle are skipped when on"></app-tooltip-span>
        </div>
        
        <div class="setting-element">
            <mat-slide-toggle formControlName='writeSpoilerLog'></mat-slide-toggle>
            <app-tooltip-span spanText="Include Spoiler Log" tooltipText="A Spoiler Log containing every item location in your custom rom will be provided"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='turnOffMusic'></mat-slide-toggle>
            <app-tooltip-span spanText="Turn Off Music" tooltipText="Disables the ingame music"></app-tooltip-span>
        </div>
    </mat-card-content>
</form>