<form [formGroup]="qualityOfLifeFormGroup">
    <mat-card-content class=settings-card-content>

        <div class="setting-element dropdown-element">
            <app-tooltip-span
                 spanText="Hidden Block Mode"
                  tooltipText="Watt's Ability: Mario needs to use Watt's ability to see hidden blocks (Vanilla)

                                Watt Out: Mario needs to have Watt as active partner to see hidden blocks

                                Watt Obtained: Hidden blocks will always be visible after Watt is unlocked

                                Always Visible: Hidden blocks will be visible from the start">
            </app-tooltip-span>
            <select formControlName='hiddenBlockMode'>
                <option [ngValue]="0">Watt's Ability</option>
                <option [ngValue]="1">Watt Out</option>
                <option [ngValue]="2">Watt Obtained</option>
                <option [ngValue]="3">Always Visible</option>
            </select>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysSpeedySpin'></mat-slide-toggle>
            <app-tooltip-span spanText="Always Speedy Spin" tooltipText="Mario will always spin fast when pressing Z without needing to equip the Speedy Spin badge.

            The Speedy Spin badge is also removed from the item pool">
        </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='preventPhysicsGlitches'></mat-slide-toggle>
            <app-tooltip-span spanText="Prevent OOB / LZS tricks" tooltipText="Prevents out of bound and loading zone storage tricks. This setting does NOT affect logic in any way and cannot be used if any glitch/trick is enabled in logic.

            Warning: In some cases, attempting out of bound exploits with this setting enabled can cause softlocks, as the game fails to properly reset Mario's position."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysPeekaboo'></mat-slide-toggle>
            <app-tooltip-span spanText="Always Peekaboo" tooltipText="Enemy HP will always be displayed without needing to equip the Peekaboo badge.

            The Peekaboo badge is also removed from the item pool">
        </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='skipQuiz'></mat-slide-toggle>
            <app-tooltip-span spanText="Skip Quiz" tooltipText="Quiz rewards will be handed out without having to answer questions"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='alwaysISpy'></mat-slide-toggle>
            <app-tooltip-span spanText="Always I Spy" tooltipText="Hidden Panels will always be indicated to be in the present room without needing to equip the I Spy badge.
            The sound effect has been removed, so it is only a visual cue.
            The I Spy badge is also removed from the item pool."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='quizmoAlwaysAppears'></mat-slide-toggle>
            <app-tooltip-span spanText="Quizmo Always Appears" tooltipText="Setting this to true forces Quizmo to appear in a town,
                                                                             but not necessarily in every map of that town, 100% of the time until his local questions have been answered.">
            </app-tooltip-span>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='foliageItemHints'></mat-slide-toggle>
            <app-tooltip-span spanText="Foliage Item Hints" tooltipText="Bushes and trees will emit a glow when they are hiding something."></app-tooltip-span>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='hiddenPanelVisibility'></mat-slide-toggle>
            <app-tooltip-span spanText="Visible Hidden Panels" tooltipText="Hidden Panels will have a distinct appearance to identify them easily."></app-tooltip-span>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='cookWithoutFryingPan'></mat-slide-toggle>
            <app-tooltip-span spanText="Cook Without Frying Pan" tooltipText="Makes cooking items with Tayce T. possible without the frying pan."></app-tooltip-span>
        </div>

        <div class="setting-element dropdown-element">
          <app-tooltip-span
               spanText="Cutscene Mode"
                tooltipText="Vanilla: Cutscenes from the original game are preserved.

                Shortened: Cutscenes are quicker but preserved with some condensed dialogue.

                Minimal: Most cutscenes and dialogues are removed.">
          </app-tooltip-span>
          <select formControlName='shortenCutscenes'>
              <option [ngValue]="0">Vanilla</option>
              <option [ngValue]="1">Shortened</option>
              <option [ngValue]="2">Minimal</option>
          </select>
      </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='skipEpilogue'></mat-slide-toggle>
            <app-tooltip-span spanText="Skip Epilogue" tooltipText="Makes the game skip directly to the credits upon grabbing the Star Rod after the final boss"></app-tooltip-span>
        </div>
    </mat-card-content>
</form>
