<div class="main-page" *ngIf="seedInfo$ | async as seedInfo">
    <a [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>

    <ng-container *ngIf="!seedInfoErrorCode">
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Download</mat-card-title>
            <app-patcher [seedId] = "seedId" [hasSpoilerLog]="seedInfo.WriteSpoilerLog"></app-patcher>
        </mat-card>
        <mat-accordion *ngIf="seedInfo.WriteSpoilerLog">
            <mat-expansion-panel class="settings-card">
                <mat-expansion-panel-header>
                    <mat-panel-title class="settings-title">Spoiler Log</mat-panel-title>
                </mat-expansion-panel-header>
                <app-spoiler-log *ngIf="spoilerLog | async" [spoilerLog]="spoilerLog | async"></app-spoiler-log>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-card class="settings-card">
            <mat-card-title class="settings-title">Generated Seed Info</mat-card-title>
            <app-settings-info [seedInfo]="seedInfo"></app-settings-info>
        </mat-card>  
    </ng-container>

    <ng-container *ngIf="seedInfoErrorCode == '404'">
        <mat-card class="settings-card not-found-error">
            <h1>Seed ID not found</h1>
            <p>No seed with the ID <span>{{seedId}}</span> was found on the server. Keep in mind that seeds are cleaned up routinely if they're older than 30 days.</p>
            <p></p>
            <p> <a [href]="homepageLink">Click here</a> to go back to the main page and generate a new one.</p>
        </mat-card>
    </ng-container>
             
</div>
 