<div class="logo-wrapper">
    <a [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>
</div>

<app-loading [isLoading]="isPageLoading" [loadingText]="'Loading Seed Data'"></app-loading>

<ng-container *ngIf="seedInfo$ | async as seedInfo">
    <div class="main-page" *ngIf="!isPageLoading">
        
        

        <ng-container *ngIf="!pageLoadingErrorCode">
            <mat-card class="settings-card">
                <mat-card-title class="settings-title">Download</mat-card-title>
                <app-patcher [seedId] = "seedId" [hasSpoilerLog]="seedInfo.WriteSpoilerLog" [modVersion]="seedInfo.StarRodModVersion"></app-patcher>
            </mat-card>
            <mat-accordion *ngIf="seedInfo.WriteSpoilerLog">
                <mat-expansion-panel class="settings-card">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="settings-title">Spoiler Log</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-spoiler-log *ngIf="spoilerLog | async" [spoilerLog]="spoilerLog | async"></app-spoiler-log>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-card class="settings-card">
                <mat-card-title class="settings-title">Generated Seed Info</mat-card-title>
                <app-settings-info [seedInfo]="seedInfo"></app-settings-info>
            </mat-card>  
        </ng-container>

        <ng-container *ngIf="pageLoadingErrorCode == '404'">
            <mat-card class="settings-card server-error">
                <h1>Seed ID not found</h1>
                <p>No seed with the ID <span>{{seedId}}</span> was found on the server. Keep in mind that seeds are cleaned up routinely if they're older than 30 days.</p>
                <p></p>
                <p> <a [href]="homepageLink">Click here</a> to go back to the main page and generate a new one.</p>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="pageLoadingErrorCode && pageLoadingErrorCode != '404'">
            <mat-card class="settings-card server-error">
                <h1>Server Error: {{pageLoadingErrorCode}}</h1>
                <p>An servor error has occured. Please try again later and report the issue if it persists</p>
                <p> <a [href]="homepageLink">Click here</a> to go back to the main page.</p>
            </mat-card>
        </ng-container>
                
    </div>
</ng-container>