@import './../../../../variables';
@import './../../../../mixins';

::ng-deep app-loading.page-loading {
    div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        min-width: 15rem;
    }

}

.loading-card {
    background-color: $purple-background-card;

    padding: 5rem !important;
    margin: 0 5%;

    @include medium {
      margin: 0 15%;
    }

    @include large {
      margin: 0 20%;
    }

    @include extra-large {
      margin: 0 30%;
    }
}

.settings-card {
    background-color: $purple-background-card;

    ::ng-deep .mat-tab-group {
        .mat-tab-header {
            .mat-tab-label-container {
                .mat-tab-list {

                    .mat-ink-bar {
                        display: none;
                      }

                    .mat-tab-labels {
                        display: inline-block;
                        .mat-tab-label {
                            opacity: 1 !important;
                            width: 180px !important;
                            border: outset;
                            border-width: 2px;
                            border-radius: 28px;
                            margin: 8px 0 8px 4px;
                            filter: brightness(.6);
                            background-color: $purple-misc-main !important;
                            border-color: $purple-misc-border !important;
                            padding: 0 5px;

                            @include medium {
                              width: 195px !important;
                            }

                            &.mat-tab-label-active {
                              filter: brightness(1);
                            }

                            .mat-tab-label-content {
                                font-family: gluten;
                                color: white;
                                font-size: 15px;
                                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

                                @include medium {
                                  font-size: 16px;
                                }

                              }
                          }
                      }
                }
            }
        }
    }
}

.mat-expansion-panel {
    margin: 0 .5rem 1rem .5rem !important;

    @include medium {
        margin: 0 3rem 2rem 3rem !important;
    }

    @include large {
        margin: 0 4rem 2rem 4rem !important;
    }

    @include extra-large {
        margin: 0 5rem 2rem 5rem !important;
    }

    padding:16px 7px 16px 16px; //hack because the collapse button takes 9px

    ::ng-deep .mat-expansion-panel-header {
        padding: 10px 0 10px 0;
        .mat-content {

            .mat-expansion-panel-header-title {
                margin-right: 0 !important
            }
        }

        &.expanded {
            .mat-expansion-indicator:after{
                content: url('../../../../assets/images/page_up.png');
            }
        }

        &.collapsed {
            .mat-expansion-indicator::after{
                content: url('../../../../assets/images/page_down.png');
            }
        }

        .mat-expansion-indicator {
            transform: rotate(0) !important;
        }
        .mat-expansion-indicator::after{
                border: inherit;
                padding: 0;
                transform: none;
        }
    }

    ::ng-deep .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0;

        @include medium {
          padding: 0 1rem;
        }
      }
    }
}

.server-error {
    font-family: gluten;
    font-size: 16px;
    font-weight: 600;
    h1 {
        color: red;
        text-align: center;
    }

    p{
        text-align: center;

        span {
            color:red;
        }
    }
}
