@use './../../../../variables';

app-loading {
    margin: 40%;
    position: relative;
    top: 10rem;
}
img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings-card {
    background-color: variables.$purple-background-card;

    ::ng-deep .mat-tab-group {
        .mat-tab-header {
            .mat-tab-label-container {
                .mat-tab-list {

                    .mat-ink-bar {
                        display: none;
                      }

                    .mat-tab-labels {
                        display: inline-block;
                        .mat-tab-label {
                            opacity: 1 !important;        
                            width: 195px !important;
                            border: outset;
                            border-width: 2px;
                            border-radius: 30px;
                            margin: 8px 0 8px 4px;
                            filter: brightness(.6);
                            background-color: variables.$purple-misc-main !important;
                            border-color: variables.$purple-misc-border !important; 
                            padding: 0 5px;

                            &.mat-tab-label-active {      
                              filter: brightness(1);
                            }

                            .mat-tab-label-content {
                                font-family: popjoy;
                                color: white;
                                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                              }  
                          }
                      }
                }
            }
        }
    }
}

.mat-expansion-panel {
    margin: 0 6rem 2rem 6rem;
    padding:16px 7px 16px 16px; //hack because the collapse button takes 9px

    ::ng-deep .mat-expansion-panel-header {
        padding: 10px 0 10px 0;
        .mat-content {
            
            .mat-expansion-panel-header-title {
                margin-right: 0 !important
            }
        }
        
        &.expanded {
            .mat-expansion-indicator:after{
                content: url('../../../../assets/images/page_up.png');
            }
        }

        &.collapsed {
            .mat-expansion-indicator::after{
                content: url('../../../../assets/images/page_down.png');
            }
        }

        .mat-expansion-indicator {
            transform: rotate(0) !important;
        }
        .mat-expansion-indicator::after{
                border: inherit;
                padding: 0;
                transform: none;
        }
    }
}

.mat-ex

.server-error {
    font-family: popjoy;
    h1 {
        color: red;
        text-align: center;
    }

    p{
        margin: 2rem 10rem 2rem 10rem;

        span {
            color:red;
        }
    }
}
