span {
    font-family: gluten;
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px;
}

input {
    width: 4rem;
}

div.bottom-note {
    margin-top: 2rem;
    p {
        font-family: gluten;
        margin:2px;
        font-weight: 500;
        line-height: 16px;
    }
}