span {
    font-family: gluten;
    font-weight: 500;
    font-size: 16px;
    padding-top: 16px;
}

input {
    width: 4rem;
}


p.bottom-note  {
    font-family: gluten;
    margin: 32px 2px 2px 2px;
    font-weight: 500;
    line-height: 16px;
}