<form [formGroup]="gameplayFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Badges BP" 
                                tooltipText="Vanilla: Untouched BP from original game.
                                            
                                Balanced Random: BP values will mostly be +/- 2 from the original, with a 10% chance of being random between 1 and 8.
                                
                                Shuffled: BP values from the original game are shuffled together.
                                
                                Fully Random: BP values will be completely random, between 1 and 6 BP for every badge."></app-tooltip-span>
            <select formControlName='randomBadgesBP'>
                <option [ngValue]="0">Vanilla</option>
                <option [ngValue]="1">Balanced Random</option>
                <option [ngValue]="2">Shuffled</option>
                <option [ngValue]="3">Fully Random</option>
            </select>
        </div>
        
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Badges FP" 
                                tooltipText="Vanilla: Untouched FP from original game.
                                            
                                Balanced Random: Badge abilities FP values will mostly be +/- 2 from the original, with a 10% chance of being random between 1 and 7.
                                
                                Shuffled: FP values from the original game are shuffled together.
                                
                                Fully Random: FP values will be completely random, between 1 and 7 BP for every badge ability."></app-tooltip-span>
            <select formControlName='randomBadgesFP'>
                <option [ngValue]="0">Vanilla</option>
                <option [ngValue]="1">Balanced Random</option>
                <option [ngValue]="2">Shuffled</option>
                <option [ngValue]="3">Fully Random</option>
            </select>
        </div>

        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Partners FP" 
                                tooltipText="Vanilla: Untouched FP from original game.
                                            
                                Balanced Random: Partner abilities FP values will mostly be +/- 2 from the original, with a 10% chance of being random between 1 and 8.
                                
                                Shuffled: FP values from the original game are shuffled together.
                                
                                Fully Random: FP values will be completely random, between 1 and 8 FP for every partner ability."></app-tooltip-span>
            <select formControlName='randomPartnerFP'>
                <option [ngValue]="0">Vanilla</option>
                <option [ngValue]="1">Balanced Random</option>
                <option [ngValue]="2">Shuffled</option>
                <option [ngValue]="3">Fully Random</option>
            </select>
        </div>

        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="StarPower SP" 
                                tooltipText="Vanilla: Untouched SP from original game.
                                            
                                Balanced Random: StarPower SP values will mostly be +/- 1 from the original, with a 10% chance of being random between 1 and 3.
                                
                                Shuffled: SP values from the original game are shuffled together.
                                
                                Fully Random: SP values will be completely random, between 1 and 3 SP for every star power ability."></app-tooltip-span>
            <select formControlName='randomStarpowerSP'>
                <option [ngValue]="0">Vanilla</option>
                <option [ngValue]="1">Balanced Random</option>
                <option [ngValue]="2">Shuffled</option>
                <option [ngValue]="3">Fully Random</option>
            </select>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='randomFormations'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Shuffle Battle Formations"
                  tooltipText="Shuffles which enemies you encounter and in what number. The enemies are limited to those that normally appear within an area."></app-tooltip-span>
        </div>
    </mat-card-content>
</form>