@import './../../../../../variables';
:host ::ng-deep .mat-tab-body {
    overflow-y: hidden !important;

     .mat-tab-body-content {
        display: flex;
        flex-wrap: wrap;

        div.search-container {
            margin-top: 2rem;
            flex-basis: 45%;
            flex-grow: 2;
            h2 {
                font-family: gluten;
            }
            input {
                height: 1.5rem;
                width: 12rem;
            }
            p {
                font-family: gluten;
                font-size: 15px;
                font-weight: 500;
                padding: 0 1% 0 1%;
                span {
                    &.item-name{
                        color: $blue-item-main;
                        font-weight: 700;
                    }

                    &.location-name{
                        color: $yellow-stat-text;
                        font-weight: 700;
                    }

                    &.area-name{
                        color: $purple-text;
                        font-weight: 700;
                    }
                }
            }
        }
        div.right-container {
            margin-top:2rem;
            flex-basis: 55%;
            flex-grow: 2;

            div.table-container {
                float:right;
                width: 100%;

                p {
                    font-family: gluten;
                    font-weight: 500;
                    font-size: 15px;
                }

                .mat-table {
                    font-family: gluten;
                    background-color: inherit;
                    min-height: 30rem;

                    .mat-cell {
                        overflow-wrap: break-word;
                        width: 25%;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 16px;

                        &.hidden-items {
                            span {
                                filter: blur(6px);
                                background-color: black;
                                display: block;
                                line-height: 16px;
                            }

                        }
                    }

                    .mat-header-cell {
                        font-size: 13px;
                        font-weight: 600;

                        .mat-checkbox {
                            float:right;
                            font-family: gluten;
                        }
                    }
                    .mat-header-cell:last-of-type {
                        padding-left: 10%;
                    }

                    td.mat-cell:last-of-type{
                        padding-left: 10%;
                    }
                }
            }
        }
    }
}

button {
    margin-left: 1rem;
}

.input-label{
    margin: 1rem 0;
    .settings-label {
        font-family: gluten;
        margin-left: 4px;
        font-size: 16px;
        font-weight: 500;
    }
}
