<div class="input-label">
    <span class="settings-label">View: </span>
    <select [(ngModel)]="viewMode">
        <option [ngValue]="0">Regions</option>
        <option [ngValue]="1">Item Spheres (Progression)</option>
        <option [ngValue]="2">Item Spheres (All)</option>
        <option [ngValue]="3">Settings</option>
    </select>
    <button class='yellow-button' (click)="downloadSpoilerLog()" [disabled]="isDownloadingSpoilerLog" >
        <span>Download</span>
    </button>
    <app-loading *ngIf="isDownloadingSpoilerLog" [isLoading]="isDownloadingSpoilerLog" [loadingText]="'Loading'"></app-loading>
    <app-error *ngIf="spoilerLogError" [errorText]="spoilerLogError"></app-error>
</div>
        
<mat-tab-group *ngIf="viewMode == 0" disablePagination="true" animationDuration="0">
    <mat-tab *ngFor="let spoilerArea of areas; let index = index" [label]="spoilerArea">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="spoilerLog[spoilerArea]">
                    <ng-container matColumnDef="location" >
                        <th mat-header-cell *matHeaderCellDef stic>Location</th>
                        <td mat-cell *matCellDef="let spoiler">{{spoiler.location}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef>Item <mat-checkbox [(ngModel)]="hideItemNames">Hide Item names</mat-checkbox></th>
                        <td [ngClass]="{ 'hidden-items': hideItemNames}" mat-cell *matCellDef="let spoiler"><span>{{spoiler.item}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['location', 'item']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['location', 'item'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="viewMode == 1" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)" disablePagination="true" animationDuration="0">
    <mat-tab *ngFor="let sphere of sphereNames; let index = index" [label]="sphere">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="progressionSpheres[sphere]" *ngIf="progressionSpheres[sphere].length; else noSphereData">
                    <ng-container matColumnDef="region" >
                        <th mat-header-cell *matHeaderCellDef stic>Region</th>
                        <td mat-cell *matCellDef="let sphereEntry">{{sphereEntry.region}}</td>
                    </ng-container>
                    <ng-container matColumnDef="location" >
                        <th mat-header-cell *matHeaderCellDef stic>Location</th>
                        <td mat-cell *matCellDef="let sphereEntry">{{sphereEntry.location}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef>Item <mat-checkbox [(ngModel)]="hideItemNames">Hide Item names</mat-checkbox></th>
                        <td [ngClass]="{ 'hidden-items': hideItemNames}" mat-cell *matCellDef="let sphereEntry"><span>{{sphereEntry.item}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['region', 'location', 'item']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['region', 'location', 'item'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="viewMode == 2" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)" disablePagination="true" animationDuration="0">
    <mat-tab *ngFor="let sphere of sphereNames; let index = index" [label]="sphere">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="allItemSpheres[sphere]" *ngIf="allItemSpheres[sphere].length; else noSphereData">
                    <ng-container matColumnDef="region" >
                        <th mat-header-cell *matHeaderCellDef stic>Region</th>
                        <td mat-cell *matCellDef="let sphereEntry">{{sphereEntry.region}}</td>
                    </ng-container>
                    <ng-container matColumnDef="location" >
                        <th mat-header-cell *matHeaderCellDef stic>Location</th>
                        <td mat-cell *matCellDef="let sphereEntry">{{sphereEntry.location}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef>Item <mat-checkbox [(ngModel)]="hideItemNames">Hide Item names</mat-checkbox></th>
                        <td [ngClass]="{ 'hidden-items': hideItemNames}" mat-cell *matCellDef="let sphereEntry"><span>{{sphereEntry.item}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['region', 'location', 'item']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['region', 'location', 'item'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="viewMode == 3" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)" disablePagination="true" animationDuration="0">
    <mat-tab *ngIf="settingsSpoilerLog.chapterDifficulties.length" [label]="'Chapter Difficulties'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.chapterDifficulties">
                    <ng-container matColumnDef="chapter" >
                        <th mat-header-cell *matHeaderCellDef stic>Chapter</th>
                        <td mat-cell *matCellDef="let i=index">Chapter {{i + 1}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="newDiff">
                        <th mat-header-cell *matHeaderCellDef>New Difficulty</th>
                        <td mat-cell *matCellDef="let chapterDiff"><span>{{chapterDiff}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['chapter', 'newDiff']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['chapter', 'newDiff'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Badge Costs'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.badgeCosts">
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef stic>Name</th>
                        <td mat-cell *matCellDef="let badge"><span>{{badge.name}}</span></td>
                    </ng-container>
                    
                    <ng-container matColumnDef="bp">
                        <th mat-header-cell *matHeaderCellDef>BP</th>
                        <td mat-cell *matCellDef="let badge"><span>{{badge.BP}}</span></td>
                    </ng-container>

                    <ng-container matColumnDef="fp">
                        <th mat-header-cell *matHeaderCellDef>FP</th>
                        <td mat-cell *matCellDef="let badge"><span>{{badge.FP}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['name', 'bp', 'fp']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'bp', 'fp'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Partner Costs'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.partnerCosts">
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef stic>Name</th>
                        <td mat-cell *matCellDef="let partnerAbility"><span>{{partnerAbility.name}}</span></td>
                    </ng-container>

                    <ng-container matColumnDef="fp">
                        <th mat-header-cell *matHeaderCellDef>FP</th>
                        <td mat-cell *matCellDef="let partnerAbility"><span>{{partnerAbility.FP}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['name', 'fp']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'fp'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Star Power'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.starPowerCosts">
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef stic>Name</th>
                        <td mat-cell *matCellDef="let ability"><span>{{ability.name}}</span></td>
                    </ng-container>

                    <ng-container matColumnDef="sp">
                        <th mat-header-cell *matHeaderCellDef>SP</th>
                        <td mat-cell *matCellDef="let ability"><span>{{ability.SP}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['name', 'sp']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'sp'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Super Blocks'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.superBlocks">
                    <ng-container matColumnDef="location" >
                        <th mat-header-cell *matHeaderCellDef stic>Location</th>
                        <td mat-cell *matCellDef="let superBlock"><span>{{superBlock}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['location']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['location'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'Entrances'">
        <ng-template [ngTemplateOutlet]="searchContainer"></ng-template>
        <div class="right-container">
            <div class="table-container">
                <mat-table [dataSource]="settingsSpoilerLog.entrances">
                    <ng-container matColumnDef="entry" >
                        <th mat-header-cell *matHeaderCellDef stic>Entry</th>
                        <td mat-cell *matCellDef="let element"><span>{{element.entrance}}</span></td>
                    </ng-container>

                    <ng-container matColumnDef="exit">
                        <th mat-header-cell *matHeaderCellDef>Exit</th>
                        <td mat-cell *matCellDef="let element"><span>{{element.exit}}</span></td>
                    </ng-container>

                    <ng-container matColumnDef="direction">
                        <th mat-header-cell *matHeaderCellDef>Direction</th>
                        <td mat-cell *matCellDef="let element"><span>{{element.direction}}</span></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['entry', 'exit', 'direction']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['entry', 'exit', 'direction'];"></tr>
                </mat-table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-template #noSphereData>
    <p>This sphere has no item or partner that affects progression.</p>
</ng-template>

<ng-template #searchContainer>
    <div class="search-container">
        <h2>Item/Partner Search</h2>
        <input type="text"
                maxlength="30"
                placeholder="Item/Partner Name"
                [(ngModel)]="searchText"
                (ngModelChange)="filter()"
                matInput
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  (optionSelected)="onItemSearchChange()">
            <mat-option *ngFor="let item of filteredSearchItems" [value]="item">
            {{item}}
            </mat-option>
        </mat-autocomplete>
        <ng-container *ngIf="itemSearchresult ; else noResult">
            <p><span class="item-name">{{itemSearchresult}}</span> can be found at:</p>
            <p *ngFor="let location of locationSearchResults; let i=index">
                -<span class="location-name">{{locationSearchResults[i]}}</span>
                 within the <span class="area-name">{{areaSearchResults[i]}}</span> region</p>
        </ng-container>
        <ng-template #noResult>
            <p *ngIf="!filteredSearchItems.length && searchText?.length >= MIN_AMOUNT_OF_CHARS">There is no item with this name</p>
        </ng-template>
    </div>
</ng-template>