<form [formGroup]="difficultyFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Enemy Difficulty" 
                                tooltipText="Vanilla: Untouched enemy stats from original game
                                            
                                Shuffle Chapter Difficulty: Will assign each of the first 7 chapters a new chapter number, scaling the strength of enemies encountered there up or down
                                
                                Progressive Scaling: Enemies get stronger as Mario gains more progression items and partners"></app-tooltip-span>
            <select formControlName='difficultyMode'>
                <option [value]="0">Vanilla</option>
                <option [value]="1">Shuffle Chapter Difficulty</option>
                <option [value]="2">Progressive Scaling</option>
            </select>
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Enemy Damage" tooltipText="Increases the damage done by enemy attacks"></app-tooltip-span>
            <select formControlName='damageMultiplier'>
                <option [value]="1">Normal</option>
                <option [value]="2">Double Pain</option>
                <option [value]="4">Quadruple Pain</option>
            </select>
        </div>    
        <div class="setting-element slider-element" >
            <app-tooltip-span [spanText]="'Item Scarcity: ' + difficultyFormGroup.get('itemScarcity').value"
                             tooltipText="Randomly replaces consumable items in the item pool with weaker ones. A higher scarcity value means items have a higher chance of being replaced by weaker ones, 0 means they won't ever be replaced"></app-tooltip-span>
            <mat-slider formControlName="itemScarcity" (input)="difficultyFormGroup.get('itemScarcity').setValue($event.value)" min=0 max= 5 step="1" tickInterval="1"></mat-slider>
        </div>    
        <div class="setting-element slider-element" >
            <app-tooltip-span [spanText]="'Star Spirits Required: ' + difficultyFormGroup.get('starWaySpiritsNeeded').value"
                             tooltipText="Number of star spirits saved required to open the way to Ch.8"></app-tooltip-span>
            <mat-slider formControlName="starWaySpiritsNeeded" (input)="difficultyFormGroup.get('starWaySpiritsNeeded').setValue($event.value)" min=0 max= 7 step="1" tickInterval="1" ></mat-slider>
        </div>  
        <div class="setting-element">
            <mat-slide-toggle formControlName='capEnemyXP'></mat-slide-toggle>            
            <app-tooltip-span spanText="Cap Enemy XP" tooltipText="Limits the amount of XP obtainable per defeated enemy to 5 XP.
            Mandatory for the progressive scaling difficulty mode."></app-tooltip-span>
        </div>  
        <div class="setting-element">
            <mat-slide-toggle formControlName='noXP'></mat-slide-toggle>
            <app-tooltip-span spanText="No XP" tooltipText="Mario gains no XP from fights if turned on"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='oneHitKO'></mat-slide-toggle>
            <app-tooltip-span spanText="One Hit KO" tooltipText="Mario will die instantly from an enemy attack if a block action command is failed"></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noSaveBlocks'></mat-slide-toggle>
            <app-tooltip-span spanText="No Save Blocks" tooltipText="Save blocks will be removed from the game if turned on.
            
            It is still possible to save after every chapter with the 'Save and Continue' menu "></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noHeartBlocks'></mat-slide-toggle>
            <app-tooltip-span spanText="No Heart Blocks" tooltipText="Heart blocks will be removed from the game if turned on."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='noHealingItems'></mat-slide-toggle>
            <app-tooltip-span spanText="No Healing Items" tooltipText="HP/FP healing items will have no effect when used if turned on."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='allowItemHints'></mat-slide-toggle>
            <app-tooltip-span spanText="Merluvlee Item Hints" tooltipText="Allows Mario to obtain hints about the locations of star pieces, key items and badges by paying Merluvlee at Shooting Star Summit."></app-tooltip-span>
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Item Traps" tooltipText="Replaces some items with fakes that deal 2 damage upon contact."></app-tooltip-span>
            <select formControlName='itemTrapMode'>
                <option [ngValue]="0">No Traps</option>
                <option [ngValue]="1">Sparse</option>
                <option [ngValue]="2">Moderate</option>
                <option [ngValue]="3">Plenty</option>
            </select>
        </div>
        
    </mat-card-content>
</form>