<form [formGroup]="cosmeticsFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Mario" tooltipText="Mario's color palette"></app-tooltip-span>
            <select formControlName='marioSprite'>
                <option *ngFor="let marioOption of marioOptions" [ngValue]="marioOption">{{marioOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Goombario" tooltipText="Goombario's color palette"></app-tooltip-span>
            <select formControlName='goombarioSprite'>
                <option *ngFor="let goombarioOption of goombarioOptions" [ngValue]="goombarioOption">{{goombarioOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Kooper" tooltipText="Kooper's color palette"></app-tooltip-span>
            <select formControlName='kooperSprite'>
                <option *ngFor="let kooperOption of kooperOptions" [ngValue]="kooperOption">{{kooperOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Parakarry" tooltipText="Parakarry's color palette"></app-tooltip-span>
            <select formControlName='parakarrySprite'>
                <option *ngFor="let parakarryOption of parakarryOptions" [ngValue]="parakarryOption">{{parakarryOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Bow" tooltipText="Bow's color palette"></app-tooltip-span>
            <select formControlName='bowSprite'>
                <option *ngFor="let bowOption of bowOptions" [ngValue]="bowOption">{{bowOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Watt" tooltipText="Watt's color palette"></app-tooltip-span>
            <select formControlName='wattSprite'>
                <option *ngFor="let wattOption of wattOptions" [ngValue]="wattOption">{{wattOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Sushie" tooltipText="Sushie's color palette"></app-tooltip-span>
            <select formControlName='sushieSprite'>
                <option *ngFor="let sushieOption of sushieOptions" [ngValue]="sushieOption">{{sushieOption.optionDisplay}}</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Bosses" tooltipText="Color shuffle setting for bosses"></app-tooltip-span>
            <select formControlName='bossesSetting'>
                <option [ngValue]="0">Default</option>
                <option [ngValue]="2">Random Pick</option>
                <option [ngValue]="3">Random on every load</option>
            </select> 
        </div> 
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="NPC" tooltipText="Color shuffle setting for non playable characters that aren't enemies or bosses"></app-tooltip-span>
            <select formControlName='npcSetting'>
                <option [ngValue]="0">Default</option>
                <option [ngValue]="2">Random Pick</option>
                <option [ngValue]="3">Random on every load</option>
            </select> 
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Enemies" tooltipText="Color shuffle setting for enemies other than bosses"></app-tooltip-span>
            <select formControlName='enemiesSetting'>
                <option [ngValue]="0">Default</option>
                <option [ngValue]="2">Random Pick</option>
                <option [ngValue]="3">Random on every load</option>
            </select> 
        </div>  
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Status Menu" tooltipText="Color of the status menu at the top of the screen"></app-tooltip-span>
            <select formControlName='menu'>
                <option [ngValue]="0">Default</option>
                <option [ngValue]="1">Blue</option>
                <option [ngValue]="2">Green</option>
                <option [ngValue]="3">Teal</option>
                <option [ngValue]="4">Brown</option>
                <option [ngValue]="5">Purple</option>
                <option [ngValue]="6">Grey</option>
                <option [ngValue]="7">Random Pick</option>
            </select> 
        </div> 
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Coin Color" tooltipText="Color of coins throughout the game"></app-tooltip-span>
            <select formControlName='coinColor'>
                <option [ngValue]="0">Default</option>
                <option [ngValue]="1">Red</option>
                <option [ngValue]="2">Blue</option>
                <option [ngValue]="3">Purple</option>
                <option [ngValue]="4">Silver</option>
                <option [ngValue]="5">Random Pick</option>
            </select> 
        </div> 
        <div class="setting-element">
            <mat-slide-toggle formControlName='randomText'></mat-slide-toggle>
            <app-tooltip-span spanText="Random Text" tooltipText="Makes all the game's text completely random."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='romanNumerals'></mat-slide-toggle>
            <app-tooltip-span spanText="Roman Numerals" tooltipText="Changes the numbers to roman digits for enemy HP display in battle."></app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='randomPitch'></mat-slide-toggle>
            <app-tooltip-span spanText="Random Pitch" tooltipText="Randomizes the pitch of the game's sounds and music."></app-tooltip-span>
        </div>
    </mat-card-content>
</form>