@import './../../../../../variables';

h1, p {
    font-family: 'gluten';
}

button:disabled {
    cursor: not-allowed;
    opacity: 30%;
}

.modal-header {
  text-align: center;
}

.modal-content {
  text-align: center;
}
