@use './../../../../../variables';
:host {
    ul {
        list-style-type: none;
        li {
            color: red;
            font-family: 'gluten';
            font-weight: 600;
        }
        li:before {
            content: "❌" !important; 
            font-size: 14px !important;
        }
        li:marker {
            display: none;
        }
    }

    div.download-section {
        display: flex;
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;        
        }
    
        label { //Sorry for disgusting code here, should throw in garbage someday
            text-align: center;
            width: 14rem;
            margin: 0 0 1rem 4rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            padding: 0.7rem 1rem;
            background-color: variables.$red-file-main;        
            color: white;
            border-radius: 15px;        
            border: double;
            border-width: 6px;
            border-color: variables.$red-file-border;
            float: left;
    
            svg {
                fill: currentColor;
                padding-right: 8px;
            }
    
            span {
                pointer-events: none;
                font-family: gluten; 
                font-size: 16px;           
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                
            }
        }
    
        
    
        div.patch-container {
            width: 60%;
            margin-top: 1rem;
        }
    
        div.spoiler-container {
            width: 35%;
            margin-top: 1rem;
        }
    
        button {
            span {
                
                font-family: gluten ;
                font-size: 16px;
                color: white ;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    
            }
    
            margin: 0 0 0 4rem;
            
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.8rem 1rem;
                    
            border-radius: 15px;        
            border: double;
            border-width: 6px;
    
            background-color: variables.$purple-misc-main;
            border-color: variables.$purple-misc-border;   
    
            width: 14rem;
                    
        }
    
        button:disabled {
            cursor: not-allowed;
            opacity: 30%;
        }
    
    }

    
    
}