@use './../../../variables';
:host {
    div.download-section {
        display: flex;
        flex-wrap: wrap;

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;        
        }
    
        label { //Sorry for disgusting code here, should throw in garbage someday
            text-align: center;
            width: 14rem;
            margin-right: 6%;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            padding: 0.7rem 1rem;
            background-color: variables.$red-file-main;        
            color: white;
            border-radius: 28px;        
            border: double;
            border-width: 6px;
            border-color: variables.$red-file-border;
            float: left;
    
            svg {
                fill: currentColor;
                padding-right: 8px;
            }
    
            span {
                pointer-events: none;
                font-family: gluten; 
                font-size: 16px;           
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
                
            }
        }
    
        
    
        div.generate-container {
            flex-basis: 60%;
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
        }

        button {
            span {
                
                font-family: gluten ;
                font-size: 16px;
                color: white ;
                text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    
            }
            
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.8rem 1rem;
                    
            border-radius: 28px;        
            border: double;
            border-width: 6px;
    
            background-color: variables.$purple-misc-main;
            border-color: variables.$purple-misc-border;   
    
            width: 14rem;
                    
        }
    
        button:disabled {
            cursor: not-allowed;
            opacity: 30%;
        }
    
    }

    
    
}