@import './../../../../../variables';
@import './../../../../../mixins';

div.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  button.submit {
      span {

          font-family: gluten ;
          color: white ;
          text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
          font-size: 30px;

      }
      cursor: pointer;
      padding: 1rem 2rem;
      background-color: $yellow-stat-main;
      border-radius: 28px;
      border: double;
      border-width: 6px;
      border-color: $yellow-stat-border;
  }
  button:disabled {
      cursor: not-allowed;
  }
}

.plando-settings {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  max-width: 100%;

  @include large {
    flex-direction: row;
    align-items: center;
  }
}

.plando-file-selector {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.filename {
  margin-left: 16px;
  font-family: gluten;
  padding: 4px;
  border: inset;
  border-radius: 4px;
  border-color: #F0C74E;
  border-width: 3px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 50%;

}

.plando-toggle {
  display: flex;
  align-items: center;
  min-width: 16rem;
}
p.bottom-note {
  font-family: 'gluten';
  font-size: 14px;
  font-weight: 500;
}
