<form [formGroup]="partnersFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element">
            <mat-slide-toggle formControlName='shufflePartners'></mat-slide-toggle>
            <app-tooltip-span 
                spanText="Shuffle Partners" 
                tooltipText="Off: Partners can can be obtained at their vanilla locations

                    On: Partners are added to the item pool and are obtained as an item. Vanilla partner locations will give a random item instead">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='partnersAlwaysUsable'></mat-slide-toggle>
            <app-tooltip-span 
                spanText="Partners Always Usable" 
                tooltipText="Off: Partners can be upgraded, but their ability can't be used before obtaining them
                            On: partner abilities will be usable on the overworld from the start"></app-tooltip-span>
        </div>
        <mat-divider></mat-divider>
        <div class="setting-element full-width-element">
            <mat-slide-toggle formControlName='startWithRandomPartners'></mat-slide-toggle>
            <app-tooltip-span 
                spanText="Start With Random Partners"
                 tooltipText="Off: Start the game with a custom selection of starting partners

                            On:Start the game with a random set of partners">
            </app-tooltip-span>
        </div>
        <ng-container *ngIf="partnersFormGroup.get('startWithRandomPartners').value === true; else fixedPartnersTemplate">
            <div class="setting-element">
                <input matInput 
                        type="number" 
                        min="1" 
                        max="8" 
                        formControlName='randomPartnersMin' 
                        (blur)="onRandomPartnersMinBlur()"
                        [ngClass]="{ 'error': partnersFormGroup.get('randomPartnersMin').invalid || partnersFormGroup.get('randomPartnersMax').hasError('greaterOrEqual')}">
                <span class="settings-label">Min number of starting partners</span>
            </div>
            <div class="setting-element">
                <input matInput
                         type="number" 
                         min="1" 
                         max="8" 
                         formControlName='randomPartnersMax' 
                         (blur)="onRandomPartnersMaxBlur()"
                         [ngClass]="{ 'error': partnersFormGroup.get('randomPartnersMax').invalid}">
                <span class="settings-label">Max number of starting partners</span>
            </div>
        </ng-container>
        <ng-template #fixedPartnersTemplate>
            <form [formGroup]="partnersFormGroup.get('startWithPartners')" class="full-width-element">
                <div class="setting-element">
                    <mat-checkbox formControlName='goombario'></mat-checkbox>
                    <span class="settings-label">Goombario</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='kooper'></mat-checkbox>
                    <span class="settings-label">Kooper</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='bombette'></mat-checkbox>
                    <span class="settings-label">Bombette</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='parakarry'></mat-checkbox>
                    <span class="settings-label">Parakarry</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='bow'></mat-checkbox>
                    <span class="settings-label">Bow</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='watt'></mat-checkbox>
                    <span class="settings-label">Watt</span>
                </div>
                <div class="setting-element">
                    <mat-checkbox formControlName='sushie'></mat-checkbox>
                    <span class="settings-label">Sushie</span>
                </div><div class="setting-element">
                    <mat-checkbox formControlName='lakilester'></mat-checkbox>
                    <span class="settings-label">Lakilester</span>
                </div>
            </form>
        </ng-template>       
    </mat-card-content>
    <ul *ngIf="partnersFormGroup.invalid">
        <mat-divider></mat-divider>
        <li *ngIf="partnersFormGroup.get('randomPartnersMin').hasError('min')">
            Minimum number of starting partners must be greater or equal to 1
        </li>
        <li *ngIf="partnersFormGroup.get('randomPartnersMin').hasError('max')">
            Minimum number of starting partners must be smaller or equal to 8
        </li>
        <li *ngIf="partnersFormGroup.get('randomPartnersMax').hasError('min')">
            Maximum number of starting partners must be greater or equal to 1
        </li>
        <li *ngIf="partnersFormGroup.get('randomPartnersMax').hasError('max')">
            Maximum number of starting partners must be smaller or equal to 8
        </li>
        <li *ngIf="partnersFormGroup.get('randomPartnersMax').hasError('greaterOrEqual')">
            Maximum number of starting partners must be greater or equal to minimum
        </li>
        <li *ngIf="partnersFormGroup.get('startWithPartners').hasError('atLeastOneTrueControl')">
            At least one partner must be selected
        </li>
    </ul>
</form>