
<div class="main-page">
    <mat-card class="settings-card">
        <mat-card-title class="settings-title">General Tips</mat-card-title>
        <ul>
            <li> A new key item was added to the game: <span class="item-name">Homeward Shroom</span>. You can press A in the key items menu to use it, and it allows you to warp back to the game's starting location.</li>
            <li> You can now drop items on the overworld by pressing R + C-Left.</li>
            <li> <span class="item-name">Berry</span> items will now go in the Key Items inventory the first time you collect a specific berry type, so you don't need to manage your inventory for their progression usage. For the<span class="item-name">Blue Berry</span>, the first two items will go into Key Items, as it is also needed for the well.</li>
            <li> If partners are shuffled, completing the "sidequest" that should unlock them grants an item. Although, if you started with a partner already unlocked, their sidequest will already be done. 
                In Bow's case, that means the <span class="area-name">Boo's Mansion</span> shop and <span class="area-name">Gusty Gulch</span> gate will be opened from the start.</li>
            <li> At <span class="area-name">Shooting Star Summit</span>, Merluvlee can be paid to obtain item location hints. The key items hint can only be essential items, while badges are a short filtered list of what most consider to be the "best" badges.</li>
            <li> Many bushes will contain items or coins when pressing A on them, trees will drop items when hammering them.</li>
        </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Easily Missable Locations</mat-card-title>
        <ul>
            <li><span class="area-name"> Pleasant Path:</span> Right outside of Koopa Village, there are 3 brown blocks. Hitting them in the order "Left, Right, Up" will spawn an item block.</li>
            <li><span class="area-name"> Dry Dry Desert:</span> In the screen directly north of Kolorado's camp, there is an empty yellow block on the ground. There are 3 item blocks that spawn by hitting it with Mario's hammer. The number of total required hits has been reduced from 100 to 10.</li>
            <li><span class="area-name"> Gusty Gulch:</span> There is a small house with a coin block hidden inside.</li>
            <li><span class="area-name"> Lavalava Island:</span> On the beach west of the village, the rightmost tree gives a second item if you re-enter the map and smash it again (Originally Star Piece and Coconut items).</li>
            <li><span class="area-name"> Yoshi Village:</span> There is a Yellow Yoshi that will give you an item if you give him a Tayce T. recipe item.</li>
            <li><span class="area-name"> Flower Fields:</span> Some vines will drop an item if you touch them on the wall.</li>
            <li><span class="area-name"> Flower Fields (East):</span> There are 3 trees on the path to Petunia. Hitting them in the order "2,3,1" will drop an item.</li>
            <li><span class="area-name"> Flower Fields (East):</span> You can throw a <span class="item-name">Blue Berry</span> in the well and get an item in return</li>
            <li><span class="area-name"> Shiver City:</span> Resting at the Toad house gives an item. Resting there after putting the Scarf and Bucket back on the snowmen will grant an additional 5 items.</li>
            <li><span class="area-name"> Shiver City:</span> The mayor will give an item if you talk to him, but only after getting the item from Merle in Starborn Valley.</li>
            <li><span class="area-name"> Dry Dry Ruins:</span> There is a chest hidden in the wall near the Super Hammer big chest: 
                <a href="https://external-preview.redd.it/P_1z4dCNCz7EuLP5mhgY5rebBDfJAKNPcE3rsN4PW0U.png?width=640&crop=smart&auto=webp&s=a9620be22fa4f66c783badc4d4f9f40c64904063" target="_blank" rel="noopener noreferrer">Image</a>
            </li>
        </ul>
    </mat-card>
</div>