
<div class="main-page">
    <mat-card class="settings-card">
        <mat-card-title class="settings-title">General Tips</mat-card-title>
        <ul>
            <li> A new key item was added to the game: <span class="item-name">Homeward Shroom</span>. You can press A in the key items menu to use it, and it allows you to warp back to the seed's starting location.</li>
            <li> You can now drop items on the overworld by pressing R + C-Left.</li>
            <li> <span class="item-name">Berry</span> items will now go into the Key Items inventory the first time you collect a specific berry type, so you don't need to manage your inventory for their progression usage.
                 For the <span class="item-name">Blue Berry</span>, the first two items will go into Key Items, as it is also needed for the well.</li>
            <li> At <span class="area-name">Shooting Star Summit</span>, Merluvlee can be paid to obtain item location hints. The key items hint can only be essential items, while badges are a short filtered list of what most consider to be the "best" badges.</li>
            <li> Hidden panels can be flipped with either the Super Boots or Ultra Hammer.</li>
            <li> Many bushes will contain items or coins when pressing A on them, trees will drop items when hammering them.</li>
            <li> If you have trouble with dropping Star Points when running from battle, try equipping the Runaway Pay badge, as it lets Mario keep his Star Points.</li>
            <li> You need to have Parakarry's field ability unlocked to hand out letters to NPCs. Having him active as a ghost partner is enough.</li>
        </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Logic Guide</mat-card-title>
        <ul>
            <li> Hidden blocks are only in logic if you are able to see them. This varies depending on the chosen settings.</li>
            <li> Logic assumes you can pass Kent at the very beginning (by fighting or paying).</li>
            <li> Rewards from Dojo members (if included) are in logic after 0, 2, 3, 4, 5 star spirits, respectively.</li>
            <li> Only the first 6 Rip Cheato items are in logic and can be progression. Every item sold for 16 coins or more is not in logic.</li>
            <li> The item in Merlon's attic, obtained by ground pounding 3 times in his house, does not require you to get the info from Dry Dry Outpost first.</li>
            <li> Tayce T. can cook simple recipes from the start, even before returning the frying pan.</li>
            <li> Any 3 letters can be given to Parakarry in Mt. Rugged. You also don't actually need to have the letters at that moment, just having obtained them at some point is enough.</li>
            <li> For item locations that can be accessed without Bombette but require her to get out of, like the Boo's Mansion east basement, logic won't require you to go there and use the Homeward Shroom.</li>
            <li> Hammer and boot upgrades are progressive. This means your first boots upgrade will always be "Super Boots" no matter which Boots Chest you open first, same for hammers.</li>
            <li> Hammer blocks in Dry Dry Ruins and Mt. Lavalava are also progressive. This means that you can get the Super Hammer from Mt. Lavalava and clear the dungeon since the blocks will be stone. After obtaining the Super Hammer, the other dungeon with the remaining Hammer chest will have its blocks upgraded to Metal.</li>
            <li> With precise spins, it is possible to complete Tubba's Castle without Bow, but the logic always expects you to use her ability to get past sentinels.</li>
            <li> The spikes in Tubba's Castle can be avoided with Lakilester's ability. You can also skip them with precise speedy spins, but that is not in logic.</li>
            <li> Trampoline boxes in Toy Box don't require the Super Boots, they can be hammered instead.</li>
            <li> Fighting Anti Guy is never required, it is always possible to trade him the lemon candy instead.</li>
            <li> Entering the whale in Toad Town does not require the Super Boots, the whale can be hammered 3 times instead.</li>
            <li> Lakilester can be used to access the volcano hammer chest instead of Parakarry.</li>
            <li> A ground-pound can be used to hit the sewer blocks that lead to the Shiver City pipe.</li>
            <li> It is possible to deliver the letter to the Shiver City mayor even while he's lying "dead" on the floor.</li>
            <li> The Koopa Koot favor asking you to calm down the neighbor Bob-ombs requires having completed Ch.1 to be done.</li>
            </ul>
    </mat-card>

    <mat-card class="settings-card">
        <mat-card-title class="settings-title">Easily Missable Locations</mat-card-title>
        <ul>
            <li><span class="area-name"> Goomba Village:</span> There is an item on the balcony where Mario falls off in the original game's prologue. Also talk to Goompa!</li>
            <li><span class="area-name"> Toad Town:</span> Merlow gives an item if you do 3 consecutive ground pounds in his house.</li>
            <li><span class="area-name"> Koopa Village:</span> The koopa shell that can be accessed by moving the blue block becomes an item once the Fuzzy minigame is completed.</li>
            <li><span class="area-name"> Pleasant Path:</span> Right outside of Koopa Village, there are 3 brick blocks. Hitting them in the order "Left, Right, Up" will spawn an item block.</li>
            <li><span class="area-name"> Dry Dry Desert:</span> In the screen directly north of Kolorado's camp, there is an empty yellow block on the ground. There are 3 item blocks that spawn by hitting it with Mario's hammer. The number of total required hits has been reduced from 100 to 10.</li>
            <li><span class="area-name"> Dry Dry Desert:</span> After completing Chapter 2, Kolorado's camp will be gone. The tree in that screen can now be hit and will drop an item.</li>
            <li><span class="area-name"> Dry Dry Ruins:</span> There is a chest hidden in the wall near the Super Hammer big chest: 
                <a href="https://external-preview.redd.it/P_1z4dCNCz7EuLP5mhgY5rebBDfJAKNPcE3rsN4PW0U.png?width=640&crop=smart&auto=webp&s=a9620be22fa4f66c783badc4d4f9f40c64904063" target="_blank" rel="noopener noreferrer">Image</a>
            </li>
            <li><span class="area-name"> Forver Forest:</span> A total of 3 items are found in the forest. For detailed instructions, <a href="https://www.mariowiki.com/Forever_Forest" target="_blank" rel="noopener noreferrer">click here</a>.</li>
            <li><span class="area-name"> Gusty Gulch:</span> There is a small house with a coin block hidden inside.</li>
            <li><span class="area-name"> Lavalava Island:</span> On the beach west of the village, the rightmost tree gives a second item if you re-enter the map and smash it again (Originally Star Piece and Coconut items).</li>
            <li><span class="area-name"> Yoshi Village:</span> There is a Yellow Yoshi that will give you an item if you give him a Tayce T. recipe item.</li>
            <li><span class="area-name"> Flower Fields:</span> Some vines will drop an item if you touch them on the wall. Some vines may require jumping at them to trigger.</li>
            <li><span class="area-name"> Flower Fields (East):</span> There are 3 trees on the path to Petunia. Hitting them in the order "2,3,1" will drop an item.</li>
            <li><span class="area-name"> Flower Fields (East):</span> You can throw a <span class="item-name">Blue Berry</span> in the well and get an item in return.</li>
            <li><span class="area-name"> Flower Fields (North-East):</span> On the upper ledge that has a partner upgrade block, you can make an item appear by performing a ground pound on the right side.</li>
            <li><span class="area-name"> Shiver City:</span> Resting at the Toad House gives an item. Resting there after putting the Scarf and Bucket back on the snowmen will grant an additional 5 items.</li>
            <li><span class="area-name"> Shiver City:</span> Mayor Penguin will give an item if you talk to him, but only after getting the item from Merle in Starborn Valley.</li>
            <li><span class="area-name"> Shiver City:</span> There is a house with no door to the right of the mayor's house, with a chest inside. To get there, Mario must enter the house to the right, climb to the top windows and open one of them, jump across to the next house, and enter through a window.</li>
        </ul>
    </mat-card>
</div>