<form [formGroup]="formGroup">
    <mat-card-content class=settings-card-content>
        <div>
            <mat-selection-list #glitches formControlName="glitches">
                <mat-list-option *ngFor="let glitch of glitchesList" [value]="glitch">
                {{glitch.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div>
            <mat-list>
                <mat-list-item *ngFor="let enabledGlitch of formGroup.get('glitches').value">
                {{enabledGlitch.name}}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</form>