@import '../../../../../variables';
@import '../../../../../mixins.scss';

.master-checkbox {
    padding-right: 1.875rem;
    margin-right: -1.25rem;
    background-color: $beige-background-secondary;
    border: 3px solid $yellow-stat-border;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 3.5rem;
    box-sizing: border-box;

    mat-checkbox {
        margin: 0;
        font-family: gluten;
        font-size: 1rem;
    }
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 15rem;
    flex-basis: 85%;
    flex-grow: 1;

    .tricks-section {

        @include medium {
            margin-left: 3rem;
            margin-bottom: 2rem;

            flex-basis: 45%;
            width: 45%;
            flex-grow: 1;
        }

        .glitches-list {
            padding-right: 1rem;
            max-height: 40rem;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0;
        }

        .glitches-list::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        .glitches-list::-webkit-scrollbar-track {
            background-color: $beige-background-secondary;
            border-radius: 0.625rem;
        }

        .glitches-list::-webkit-scrollbar-thumb {
            background-color: $yellow-stat-border;
            border-radius: 0.625rem;
        }
    }
}

.filter-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 5.25rem;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background-color: $beige-background-secondary;
    border: 3px solid $yellow-stat-border;
    border-radius: 0.5rem;

    .filter-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .setting-element {
            flex: 0 0 auto;

            .name-input {
                width: 14rem;
            }

            .difficulty-input {
                width: 14rem;
            }

            .location-input {
                width: 14rem;
            }
            .tags-input {
                width: 14rem;
            }
        }
    }
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.25rem 0.625rem;
    border-radius: 1.25rem;
    font-size: 0.6875rem;
    font-weight: 400;
    font-family: gluten;
    white-space: nowrap;
    color: white;
}

.location-tag {
    background-color: $blue-item-main;
    border: 1px solid $blue-item-border;
}

.difficulty-tag {
    background-color: $orange-badge-main;
    border: 1px solid $orange-badge-border;
}

.custom-tag {
    background-color: $purple-misc-main;
    border: 1px solid $purple-misc-border;
}

.selected-locations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .tag {
        position: relative;
    }

    .remove-tag-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        line-height: 1;
        color: white;

        &:hover {
            opacity: 0.7;
        }

        mat-icon {
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            line-height: 1rem;
        }
    }
}

.tags-container {
    display: flex;
    gap: 0.375rem;
    flex-wrap: wrap;
    align-items: center;
}

mat-selection-list, mat-list {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0;
    padding: 0;
    
    .mat-list-item {
        border: 3px solid $yellow-stat-border !important;
        border-top: none !important;
        height: auto;
        padding: 0.5rem 1rem 0.5rem 0 !important;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &:last-child {
            border-bottom: 3px solid $yellow-stat-border !important;
            border-radius: 0 0 0.5rem 0.5rem;
        }

        button {
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
            padding: 0;
            margin: 0;

            mat-icon {
                font-size: 1.25rem;
            }
        }
    }
}

.glitch-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.image-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.glitch-content {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    flex: 1;
    overflow: hidden;
}

.glitch-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    overflow: hidden;
}

h2 {
    font-family: gluten;
    text-align: center;
}

p.disclaimer {
    font-family: gluten;
    width: 100%;
}

span.no-results {
    font-family: gluten;
    font-size: 1.125rem;
    justify-content: center;
    display: flex;
    color: red;
    margin-top: 1rem;
}

.remove-button {
    border: none;
    background: none;
    cursor: pointer;
    color: $yellow-stat-main;
}

button:disabled {
    cursor: not-allowed;
    opacity: 30%;
}

a.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

.video-icon {
    position: relative;
    top: 0.3125rem;
}