@use '../../../../../variables';

.table-container {
    display: flex;
    flex-wrap: wrap;

    .tricks-section {
        margin-left: 5rem;
        .glitches-list {
            padding-right: 1rem;
            max-height: 40rem;
            min-height: 15rem;
            overflow-y: auto;
            overflow-x: hidden;
            width: 570px;
        }
    }

    
}
mat-selection-list, mat-list {
    .mat-list-item {
        
        border: solid !important; 
        border-width: 3px 3px 1px 3px !important;    
        border-color: variables.$yellow-stat-border !important;

        mat-icon {
            font-size: 25px;
            position: relative;
            top: 7px;
            
        }
        
    }
}

h2 {
    font-family: gluten;
    text-align: center;
}

span.no-results {
    font-family: gluten;
    font-size: 18px;
    justify-content: center;
    display: flex;
    color:red;
    margin-top: 1rem;
}