<form [formGroup]="worldFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Starting Location" 
                                tooltipText="Sets the town / village where the game starts. It is also the location where the Homeward Shroom warps Mario."></app-tooltip-span>
            <select formControlName='startingMap'>
                <option *ngFor="let location of startingMaps" [ngValue]="location.value">{{location.name}}</option>
            </select>
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Magical Seeds Required" tooltipText="The amount of magical seeds required to open the gate to Flower Fields."></app-tooltip-span>
            <select formControlName='magicalSeedsRequired'>
                <option [ngValue]="0">0</option>
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">Random</option>
            </select>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='prologueOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Prologue"
                 tooltipText="Off: When starting from a location other than Goomba Village, Mario must reach Goomba Village via the sewers, since the bridge is missing.

                            On: Goomba King starts off already defeated and the bridge to reach Goomba Village is present from the start.">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='mtRuggedOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Mt. Rugged"
                 tooltipText="Off: A boulder blocks the train to Mt.Rugged (Vanilla).

                            On: The boulder is gone from the start.">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='toyboxOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Toy Box"
                 tooltipText="Off: Mario must use Bow to hide from the Shy Guy and enter Toy Box for the first time

                            On: The door to Toy Box can be opened from the start">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='whaleOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Whale"
                 tooltipText="Off: Mario must use Watt and defeat Fuzzipede to be able to ride the whale

                            On: Mario can ride the whale from the start simply by talking to it">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='blueHouseOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Blue House"
                 tooltipText="Off: Mario must obtain the Odd Key to open the Blue House door.

                            On: The Blue House door is unlocked from the start. The Odd Key is removed from the item pool">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='ch7BridgeVisible'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Ch.7 Bridge Visible"
                 tooltipText="Off: Blocks leading to Shiver City are invisible and Ultra Boots are required to hit them.

                            On: The blocks are visible from the start so Shiver City can be reached, and they can be hit from above with Super Boots.">
            </app-tooltip-span>
        </div>

        <mat-divider></mat-divider>

        <div class="setting-element dropdown-element">
            <app-tooltip-span
                 spanText="Bowser's Castle Mode"
                  tooltipText="Vanilla: Mario will need to go through the entire castle, like in the original game.
                  
                                Shortened: Multiple sections of Bowser's Castle will be skipped. No Bowser Castle's key or partners abilities will be required.
                                
                                Boss Rush: The entire castle will be skipped until the hallway where you fight the Duplighosts.">
            </app-tooltip-span>
            <select formControlName='bowsersCastleMode'>
                <option [ngValue]="0">Vanilla</option>
                <option [ngValue]="1">Shortened</option>
                <option [ngValue]="2">Boss Rush</option>
            </select>
        </div>
        
        <div class="setting-element">
            <mat-slide-toggle formControlName='shuffleDungeonEntrances'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Shuffle Dungeon Entrances"
                  tooltipText="Shuffles the main entrance of every chapter dungeon."></app-tooltip-span>
        </div>

        <div class="setting-element">
            <mat-slide-toggle formControlName='starHunt'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Power Star Hunt"
                  tooltipText="Adds power stars into the item pool. Mario needs to collect a certain amount and give them to Eldstar at Shooting Star Summit to open the way to ch.8."></app-tooltip-span>
        </div>

        <div class="setting-element" [ngClass]="{ 'disabled-element': !worldFormGroup.get('starHunt').value}">
            <mat-slide-toggle formControlName='starHuntEndsGame'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Star Hunt Ends Game"
                  tooltipText="When enabled, Eldstar will give the Star Rod immediately after completing the star hunt and the game will end."></app-tooltip-span>
        </div>

        <div class="setting-element slider-element" [ngClass]="{ 'disabled-element': !worldFormGroup.get('starHunt').value}">
            <div>
                <app-tooltip-span spanText="Power Stars Required:"
                tooltipText="Number of power stars required by Eldstar at Shooting Star Summit"></app-tooltip-span>
                
                <input matInput type="number"
                min="0" 
                max="120" 
                formControlName='starHuntRequired' 
                (blur)="onRequiredStarsBlur()">
            </div>
            
            <mat-slider formControlName="starHuntRequired" (input)="worldFormGroup.get('starHuntRequired').setValue($event.value)" min=0 max= 120 step="1" tickInterval="1" ></mat-slider>
        </div>  

        <div class="setting-element slider-element" [ngClass]="{ 'disabled-element': !worldFormGroup.get('starHunt').value}">
            <div>
                <app-tooltip-span spanText="Power Stars Placed:"
                tooltipText="Number of power stars placed in the game world"></app-tooltip-span>

                <input matInput type="number"
                min="0" 
                max="120" 
                formControlName='starHuntPlaced' 
                (blur)="onPlacedStarsBlur()">
            </div>
            
            <mat-slider formControlName="starHuntPlaced" (input)="worldFormGroup.get('starHuntPlaced').setValue($event.value)" min=0 max=120 step="1" tickInterval="1" ></mat-slider>
        </div>  
    </mat-card-content>
</form>