@use './variables';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


@font-face {
    font-family: gluten;
    src: url(assets/Fonts/gluten.ttf) format("truetype");
  }

@font-face {
    font-family: SuperMario;
    src: url(assets/Fonts/SuperMario.ttf) format("opentype");
  }

.mat-divider-horizontal {
  position: relative !important;
  margin: 12px !important;
  width: 90% !important;
}

.mat-tooltip  {
  white-space: pre-line;
  max-width: 350px !important;
  font-size: 12px;
}

.mat-option-text {
  font-family: gluten;
  font-size: 16px;
  font-weight: 600;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: variables.$yellow-stat-border;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: variables.$yellow-stat-main;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: variables.$yellow-stat-main;
}

input.mat-input-element {
  border: inset;
  border-radius: 4px;
  border-color: variables.$yellow-stat-border;
  border-width: 3px;

  &.error {
    border-color: red;
  }


}

input.mat-input-element:focus {
  outline: none !important;
}

.mat-tab-body-content {
  overflow: hidden !important; /* Hide scrollbars */
}

select {
  border: inset;
  border-radius: 4px;
  border-color: variables.$yellow-stat-border;
  border-width: 3px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
