<mat-card-content class=settings-card-content>
  <div class="starting-items-container">
    <div class="chiplist-container">
      <app-item-chiplist [startingItemsFormControl]="startingItemsFormControl" [availableItems]="availableItems" [itemType] = "'Item'"></app-item-chiplist>
    </div>
    <div class="chiplist-container">
      <app-item-chiplist [startingItemsFormControl]="startingItemsFormControl" [availableItems]="availableBadges" [itemType] = "'Badge'"></app-item-chiplist>
    </div>
    <div class="chiplist-container">
      <app-item-chiplist [startingItemsFormControl]="startingItemsFormControl" [availableItems]="availableKeyItems" [itemType] = "'Key Item'"></app-item-chiplist>
    </div>
  </div>
  <div class="bottom-note">
    <p>*A maximum of 15 custom starting items is currently supported</p>
  </div>
    
  
</mat-card-content>