.starting-items-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10rem;

    .chiplist-container {
        flex-basis: 27%;
        margin: 0 3%;
    }
}

div.bottom-note {
    margin-top: 2rem;
    p {
        font-family: gluten;
        margin:2px;
        font-weight: 500;
    }
}

div.error-list {
    flex-basis: 100%;
    ul {
        list-style-type: none;
        li {
            color: red;
            font-family: 'gluten';
            font-weight: 600;
        }
        li:before {
            content: "❌" !important; 
            font-size: 14px !important;
            font-weight: 600;
        }
        li:marker {
            display: none;
        }
    }
}
