<h1 mat-dialog-title>Save Preset</h1>
<div class="input-label">
    <span class="settings-label">Save Current Settings: </span>
    <input matInput placeholder="Preset Name" [(ngModel)]="newPresetName" (ngModelChange)="validatePresetName()">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="!isPresetValid || !newPresetName" [mat-dialog-close]="newPresetName" cdkFocusInitial>
    <span [matTooltip]="isPresetValid ? '': 'A preset with this name already exists'" matTooltipPosition="right">Save</span>
  </button>
</div>