:host {
    .gluten {
        font-family: gluten;
        font-size: 16px;
        font-weight: 600;
    }
    .panel {
        flex: 1 1 45%;
        min-height: 210px;
        align-items: start;
        @media screen and (max-width:875px) {
            flex-basis: 50%;
        }
    }
    .panel.save-panel {
        flex: 1 1 50%;
    }
    select {
        min-width: 15rem;
    }
    button {
        margin: 0.5rem;
    }
    .status {
        position:absolute;
        max-width: 85%;
    }
    .mat-expansion-panel {
        width:100%;
        @media screen and (min-width:1336px) and (max-width:1631px) {
            margin: 0 10%;
        }
    }
    .mat-expansion-panel.bg-warn {
        background-color: #ffffb4;
    }
    .mat-expansion-panel.bg-error {
        background-color: #ffc8c8;
    }
    ul {
        margin: 0;
        padding-left: 1rem;
    }
}