@import './../../../../../variables';
@import './../../../../../mixins.scss';

.preset-button-container{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 2;

    select, input {
        margin-left: 4px;
    }

    .input-label {
        margin-right: 1%;
        margin-top: 1rem;
    }
}

.setting-string-container{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .input-label {
      @include medium {
        flex-basis: 80%;
      }
        margin-top: 1rem;

        .mat-icon {
          position: relative;
          top: 8px;
          margin-left: 4px;
          font-size: 20px;
          cursor: pointer;
        }

        input {
            width: 85%;
        }
    }
}

span {
    font-size: 16px;
}

span.error {
    font-family: gluten;
    color: red;
    font-weight: 600;
}

span.success {
    font-family: gluten;
    font-weight: 600;
}

button:disabled {
    cursor: not-allowed;
    opacity: 30%;
}
