<mat-card-content class=settings-card-content>
    <div class="preset-button-container">
        <div class="input-label">
            <span class="settings-label">Preset: </span>
            <select [(ngModel)]="selectedPreset" (ngModelChange)="onSelectedPresetChange()">
                <option *ngFor="let customPreset of customPresets">{{customPreset.name}}</option>
                <option *ngFor="let preset of premadePresets">{{preset.name}}</option>
            </select>
        </div>

        <div>
            <button class="yellow-button" [disabled]="isSelectedPresetPremade()" (click)="savePreset()">
                <span [matTooltip]="isSelectedPresetPremade() ? 'Built-in presets cannot be overwritten': ''" matTooltipPosition="right">Save</span>
            </button>

            <button class="yellow-button" [disabled]="selectedPreset == CUSTOM_PRESET_NAME" (click)="loadPreset()"><span>Load</span></button>

            <button class="yellow-button"  [disabled]="isSelectedPresetPremade() || selectedPreset == CUSTOM_PRESET_NAME" (click)="removePreset()">
                <span [matTooltip]="isSelectedPresetPremade() ? 'Built-in presets cannot be removed': ''" matTooltipPosition="right">Remove</span>
            </button>
            <ng-container *ngIf="presetStatus == 'saved'">
                <span>✔️</span>
                <span class="success">Saved preset: {{selectedPreset}}</span>
            </ng-container>
            <ng-container *ngIf="presetStatus == 'loaded'">
                <span>✔️</span>
                <span class="success">Loaded preset: {{selectedPreset}}</span>
            </ng-container>
            <ng-container *ngIf="presetStatus == 'removed'">
                <span>✔️</span>
                <span class="success">Removed preset: {{recentlyRemovedPreset}}</span>
            </ng-container>
        </div>

    </div>
    <div class="setting-string-container">
        <div class="input-label">
            <span class="settings-label">Settings string: </span>
            <input matInput [(ngModel)]="settingsString">
            <mat-icon
              class="material-icons-outlined"
              [cdkCopyToClipboard]="settingsString"
              [matTooltip]="'Copy to clipboard'"
              [matTooltipPosition]="'above'"
              (click)="copiedToClipboard = true"
              (mouseenter)="copiedToClipboard = false">
              content_copy
            </mat-icon>
            <span class="copied-message" *ngIf="copiedToClipboard">✔️</span>

        </div>

        <div>
          <button class="yellow-button"  [disabled]="!settingsString?.length" (click)="importSettings()"><span>Import</span></button>
          <button class="yellow-button"  (click)="exportSettings()"><span>Export</span></button>
        </div>

    </div>

</mat-card-content>
