<form [formGroup]="openLocationsFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Starting Location" 
                                tooltipText="Sets the town / village where the game starts. It is also the location where the Homeward Shroom warps Mario."></app-tooltip-span>
            <select formControlName='startingMap'>
                <option *ngFor="let location of startingMaps" [ngValue]="location.value">{{location.name}}</option>
            </select>
        </div>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Magical Seeds Required" tooltipText="The amount of magical seeds required to open the gate to Flower Fields."></app-tooltip-span>
            <select formControlName='magicalSeedsRequired'>
                <option [ngValue]="0">0</option>
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">Random</option>
            </select>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='blueHouseOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Blue House"
                 tooltipText="Off: Mario must obtain the Odd Key to open the Blue House door.

                            On: The Blue House door is unlocked from the start. The Odd Key is removed from the item pool">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='toyboxOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Toy Box"
                 tooltipText="Off: Mario must use Bow to hide from the Shy Guy and enter Toy Box for the first time

                            On: The door to Toy Box can be opened from the start">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='whaleOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Whale"
                 tooltipText="Off: Mario must use Watt and defeat Fuzzipede to be able to ride the whale

                            On: Mario can ride the whale from the start simply by talking to it">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='prologueOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Prologue"
                 tooltipText="Off: When starting from a location other than Goomba Village, Mario must reach Goomba Village via the sewers, since the bridge is missing.

                            On: Goomba King starts off already defeated and the bridge to reach Goomba Village is present from the start.">
            </app-tooltip-span>
        </div>
    </mat-card-content>
</form>