<form [formGroup]="openLocationsFormGroup">
    <mat-card-content class=settings-card-content>
        <div class="setting-element dropdown-element">
            <app-tooltip-span spanText="Starting Location" 
                                tooltipText="Sets the town / village where the game starts. It is also the location where the homeward shroom warps Mario."></app-tooltip-span>
            <select formControlName='startingMap'>
                <option *ngFor="let location of startingMaps" [ngValue]="location.value">{{location.name}}</option>
            </select>
        </div>
        
        <div class="setting-element">
            <mat-slide-toggle formControlName='flowerGateOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Flower Gate"
                 tooltipText="Off: The 4 magical seeds are required to open the flower gate.

                            On: Flower Gate is opened from the start. Magical Seeds are removed from the item pool.">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='blueHouseOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Blue House"
                 tooltipText="Off: Mario must obtain the Odd Key to open the blue house door.

                            On: Blue house door is unlocked from the start. Odd Key is removed from the item pool">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='toyboxOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open ToyBox"
                 tooltipText="Off: Mario must use Bow to hide from the ShyGuy and enter ToyBox for the first time

                            On: The door to ToyBox can be opened from the start">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='whaleOpen'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Open Whale"
                 tooltipText="Off: Mario must use Watt and defeat Fuzzipede to be able to ride the whale

                            On: Mario can ride the whale from the start simply by talking to it">
            </app-tooltip-span>
        </div>
        <div class="setting-element">
            <mat-slide-toggle formControlName='homewardShroom'></mat-slide-toggle>
            <app-tooltip-span
                 spanText="Homeward Shroom"
                 tooltipText="Warps Mario to the starting location. You can press A in the key items menu to use it. Mandatory for Dry Dry Outpost starting location">
            </app-tooltip-span>
        </div>
    </mat-card-content>
</form>