<div class="panel">
    <p class="row">Blank entries will be populated according to seed generator settings.</p>
    <p class="row">To manually specify a Trap item's fake sprite, append the fake item's code in parentheses. For example: <code>TRAP (UltraStone)</code> will place a trap item that appears as the Ultra Stone.</p>
    <h3>Hide:</h3>
    <div class="setting-element">
        <mat-slide-toggle (change)="toggleCheckTypeFilter($event, CHECK_TYPES.SHOP)"></mat-slide-toggle>
        <span>&nbsp;Shop Items</span>
    </div>
    <div class="setting-element">
        <mat-slide-toggle (change)="toggleCheckTypeFilter($event, CHECK_TYPES.HIDDEN_PANEL)"></mat-slide-toggle>
        <span>&nbsp;Hidden Panels</span>
    </div>
    <div class="setting-element">
        <mat-slide-toggle (change)="toggleCheckTypeFilter($event, CHECK_TYPES.COIN_BLOCK)"></mat-slide-toggle>
        <span>&nbsp;Coin Blocks</span>
    </div>
    <div class="setting-element">
        <mat-slide-toggle (change)="toggleCheckTypeFilter($event, CHECK_TYPES.OVERWORLD_COIN)"></mat-slide-toggle>
        <span>&nbsp;Overworld Coins</span>
    </div>
    <div class="setting-element">
        <mat-slide-toggle (change)="toggleCheckTypeFilter($event, CHECK_TYPES.FOLIAGE)"></mat-slide-toggle>
        <span>&nbsp;Foliage</span>
    </div>
</div>
<div [formGroup]="itemsFormGroup">
    <mat-tab-group disablePagination="true" class="sub-tab" animationDuration="0" scrollToCenter>
        <mat-tab *ngFor="let loc of LOCATIONS">
            <ng-template mat-tab-label>
                <label [ngClass]="{ 'error': itemsFormGroup.get(loc.name).invalid }">{{toDisplayString(loc.name)}}</label>
            </ng-template>
            <div class="panel">
                <div class="checks-list">
                    <ng-container *ngFor="let check of loc.checks" [formGroupName]="loc.name">
                        <ng-container *ngIf="!filteredTypes.includes(check.type)">
                            <div class="check-entry">
                                <ng-container *ngIf="check.type !== CHECK_TYPES.SHOP">
                                    <label>{{toDisplayString(check.name)}}: </label>
                                    <input [formControlName]="check.name" [matAutocomplete]="auto"
                                        (input)="updateAutoCompleteFilter($event)" (blur)="onNameInputBlur(loc.name + '.' + check.name)" (focus)="resetFilter($event)" />
                                </ng-container>
                                <ng-container *ngIf="check.type === CHECK_TYPES.SHOP" [formGroupName]="check.name">
                                    <label>{{toDisplayString(check.name)}}: </label>
                                    <input formControlName="item" [matAutocomplete]="auto"
                                        (input)="updateAutoCompleteFilter($event)" (blur)="onNameInputBlur(loc.name + '.' + check.name + '.item')" (focus)="resetFilter($event)" />
                                    <label>&nbsp;Price:</label>
                                    <input type="number" formControlName="price" min="0" max="999"
                                        (input)="inputFilters.filterNumericInput($event, itemsFormGroup, loc.name + '.' + check.name + '.price')" />
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-autocomplete #auto>
        <mat-option *ngFor="let item of filteredItems" [value]="item">
            {{toDisplayString(item)}}
        </mat-option>
    </mat-autocomplete>
</div>