<div [formGroup]="plandoFormGroup">
  <h2>Required Chapters and Difficulty Scaling</h2>
  <div class="container">
    <div *ngFor="let chapterNumber of [1,2,3,4,5,6,7,8]; let requiredChapters = requiredChapters" class="panel">
      <h3 class="row text-center">Chapter {{ chapterNumber }}</h3>
      <div *ngIf="chapterNumber !== 8">
        <mat-slide-toggle [checked]="requiredChaptersArray.includes(chapterNumber)" (change)="updateChapterSelection($event, chapterNumber)"></mat-slide-toggle><span>&nbsp;Required</span>
      </div>
      <div class="settings">
        <div *ngIf="chapterNumber !== 8" class="row" formGroupName="difficulty">
          <app-tooltip-span class="row"
            [spanText]="'Difficulty: ' + (getChapterDifficulty(chapterNumber) > 0 ? getChapterDifficulty(chapterNumber) : '?')"
            tooltipText="Set the difficulty scaling for this chapter. If set to '?', the seed generator settings will determine scaling."></app-tooltip-span>
          <mat-slider formControlName="{{ 'chapter ' + chapterNumber }}" (input)="setChapterDifficulty(chapterNumber, $event.value)" min="0" max="8" step="1" tickInterval="1"></mat-slider>
        </div>
        <div class="row" formGroupName="dungeon_entrances">
          <label for="{{ CHAPTER_OVERWORLDS[chapterNumber - 1] }}">Dungeon:</label>
          <select formControlName="{{ CHAPTER_OVERWORLDS[chapterNumber - 1] }}">
            <option value=""></option>
            <option *ngFor="let dungeon of DUNGEONS" [value]="dungeon">
              {{ toDisplayString(dungeon) }}
            </option>
          </select>
        </div>
        <div *ngIf="chapterNumber !== 8" class="row" formGroupName="boss_battles">
          <label for="{{ 'chapter ' + chapterNumber }}">Boss:</label>
          <select formControlName="{{ 'chapter ' + chapterNumber }}">
            <option value=""></option>
            <option *ngFor="let boss of BOSSES" [value]="boss">
              {{ toDisplayString(boss) }}
            </option>
          </select>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
  <h2>Star Spirit Power Costs</h2>
  <p class="text-center">If set to '?', the seed generator settings will determine the SP cost.</p>
  <div class="container" formGroupName="move_costs">
    <div *ngFor="let power of SPIRIT_POWERS;" formGroupName="starpower" class="panel">
      <app-tooltip-span class="row"
        [spanText]="toDisplayString(power) + ': ' + (getStarPowerCost(power) !== -1 ? getStarPowerCost(power) + ' SP' : '?')"
        tooltipText=""></app-tooltip-span>
      <mat-slider [formControlName]="power" (input)="setStarPowerCost(power, $event.value)" min=-1 max=7 step="1" tickInterval="1"></mat-slider>
    </div>
  </div>
</div>
