
<mat-toolbar>
    <a class="image-link" [routerLink]="'../'">
        <img class="logo" src="assets/images/logo.png">
    </a>
    <a class="text-link" [routerLink]="'../'">
        <span>  Generate Seed</span>
    </a>
    <button class="text-link" [matMenuTriggerFor]="menu">Help <span class="caret">▼</span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'../tips'">Useful Tips</button>
            <button mat-menu-item [routerLink]="'../changelog'">Changelog</button>
            <button mat-menu-item [routerLink]="'../settings'">Setting Details</button>
            <button mat-menu-item [routerLink]="'../github'">Github</button>
        </mat-menu>

    <a *ngIf="$latestSeedId | async" class="text-link" [routerLink]="'../seed'" [queryParams]="{id: ($latestSeedId | async)}">
        <span>  Most Recent Seed</span>
    </a>
    <span class="example-spacer"></span>
    <a class="image-link" [href]="'https://discord.gg/GrZqNuKqJf'" target="_blank" rel="noopener noreferrer">
        <img class="logo" src="assets/images/discord.png">
    </a>
</mat-toolbar>
<div class="logo-wrapper">
    <a [routerLink]="'../'">
        <img class="logo" src="assets/images/logo.png">
    </a>
</div>
<router-outlet></router-outlet>
<!-- Preload images so there's no delay when displaying them -->
<img style="display: none;" src="../assets/images/coin_loading.gif">
<img style="display: none;" src="../assets/images/page_down.png">
<img style="display: none;" src="../assets/images/page_up.png">