
<mat-toolbar>
    <a [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>
    <a class="text-link" [href]="homepageLink">
        <span>  Generate Seed</span>
    </a>
    <a class="text-link" [href]="homepageLink + '/help'">
        <span>  Help</span>
    </a>
    <a class="text-link" [href]="homepageLink + '/changelog'">
        <span>  Changelog</span>
    </a>
    <a *ngIf="latestSeedId" class="text-link" [href]="homepageLink + '/seed?id=' + latestSeedId">
        <span>  Most Recent Seed</span>
    </a>
    <span class="example-spacer"></span>
    <a class="text-link" [href]="'https://discord.gg/PSs8bCuC'" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-discord fa-2x"></i>
        <span> Discord</span>
    </a>
  </mat-toolbar>
<router-outlet></router-outlet>