
<mat-toolbar>
    <a class="image-link" [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>
    <a class="text-link" [href]="homepageLink">
        <span>  Generate Seed</span>
    </a>
    <button class="text-link" [matMenuTriggerFor]="menu">Help <span class="caret">▼</span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'../tips'">Useful Tips</button>
            <button mat-menu-item [routerLink]="'../changelog'">Changelog</button>
            <button mat-menu-item [routerLink]="'../settings'">Setting Details</button>
        </mat-menu>

    <a *ngIf="latestSeedId" class="text-link" [href]="homepageLink + '/seed?id=' + latestSeedId">
        <span>  Most Recent Seed</span>
    </a>
    <span class="example-spacer"></span>
    <a class="text-link" [href]="'https://discord.gg/vZw59q9n3W'" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-discord fa-2x"></i>
        <span> Discord</span>
    </a>
</mat-toolbar>
<div class="logo-wrapper">
    <a [href]="homepageLink">
        <img class="logo" src="assets/images/logo.png">
    </a>
</div>
<router-outlet></router-outlet>
<!-- Preload images so there's no delay when displaying them -->
<img style="display: none;" src="../assets/images/coin_loading.gif">
<img style="display: none;" src="../assets/images/page_down.png">
<img style="display: none;" src="../assets/images/page_up.png">