@use './../variables';
.mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    background-color: variables.$beige-background-card;
    height:50px;
    font-family: popjoy;
    font-size: 14px;

    a.text-link {
        text-decoration: none;
        line-height: 50px;
        
        .fa-discord {
            position: relative;
            top:5px;
        }
        span {
            color: black;
            padding: 0 10px 0 10px;
        }
    }
    a > img {
            height:50px;
            width: auto;
    }

    .example-spacer {
        flex: 1 1 auto;
      }

    a.text-link:hover {
        background-color: variables.$yellow-stat-border;
    }
}

.mat-toolbar-purple {
    background-color: variables.$purple-background-card;
}
body {
    background-color: variables.$beige-background-main;
    background-size: 49px 49px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, variables.$beige-background-secondary 25%, transparent 25%, transparent 75%,
                        variables.$beige-background-secondary 75%, variables.$beige-background-secondary),
                        linear-gradient(45deg, variables.$beige-background-secondary 25%, transparent 25%, transparent 75%,
                         variables.$beige-background-secondary 75%, variables.$beige-background-secondary);
}

body.blue-bg {
    background-color: variables.$blue-background-main;
    background-size: 49px 49px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, variables.$blue-background-secondary 25%, transparent 25%, transparent 75%,
                        variables.$blue-background-secondary 75%, variables.$blue-background-secondary),
                        linear-gradient(45deg, variables.$blue-background-secondary 25%, transparent 25%, transparent 75%,
                         variables.$blue-background-secondary 75%, variables.$blue-background-secondary);
}

body.purple-bg {
    background-color: variables.$purple-background-main;
    background-size: 49px 49px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, variables.$purple-background-secondary 25%, transparent 25%, transparent 75%,
                        variables.$purple-background-secondary 75%, variables.$purple-background-secondary),
                        linear-gradient(45deg, variables.$purple-background-secondary 25%, transparent 25%, transparent 75%,
                         variables.$purple-background-secondary 75%, variables.$purple-background-secondary);
}

body.red-bg {
    background-color: variables.$red-background-main;
    background-size: 49px 49px;
    background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, variables.$red-background-secondary 25%, transparent 25%, transparent 75%,
                        variables.$red-background-secondary 75%, variables.$red-background-secondary),
                        linear-gradient(45deg, variables.$red-background-secondary 25%, transparent 25%, transparent 75%,
                         variables.$red-background-secondary 75%, variables.$red-background-secondary);
}

.main-page {
    padding-bottom: 4rem;
}

 .settings-card {
     margin: 0rem 6rem 2rem 6rem;
     background-color: variables.$beige-background-card;

     

     .settings-title {
        background-color: variables.$yellow-stat-main;
        font-family: SuperMario;
        font-size: 2rem;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        padding-left: 1rem;
        color: rgb(255, 255, 255);
        padding: 1rem;
        border: outset;
        border-color: variables.$yellow-stat-border;
        border-width: 3px;
        border-radius: 4px;
        margin-bottom: 2px;
     }

     .settings-card-content {
         margin: 1rem;
         display: flex;
         flex-wrap: wrap;

         .settings-label {
            font-family: popjoy;
            margin-left: 4px;
         }

         .setting-element {
             width: 50%;
             margin-top: 8px;                
         }

         .full-width-element {
            width: 100%;
         }
     }        
 }